In [32]:
#This Module's Dataset + Memory Optimization
#how we extract rows from a DataFrame that fit one or more conditions
import pandas as pd

employee = pd.read_csv("employee.csv")
select = ["Emp ID","First Name","Last Name","Gender","Date of Birth","Date of Joining","Salary","SSN","Last % Hike",
          "County","City","State"]
emp = employee[select]

In [33]:
emp.head()

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,9/21/1982,2/1/2008,69294,063-02-3609,14%,Chautauqua,Clymer,NY
1,178566,Juliette,Rojo,F,5/8/1967,6/4/2011,193912,671-48-9915,27%,Montgomery,Glenside,PA
2,647173,Milan,Krawczyk,M,4/4/1980,1/19/2012,123681,527-99-6328,11%,Anne Arundel,Gibson Island,MD
3,847634,Elmer,Jason,M,4/9/1996,5/28/2017,93504,063-02-5994,26%,Washington,Mendota,VA
4,260736,Zelda,Forest,F,11/27/1959,1/28/2014,176642,421-67-5501,29%,Schenectady,Schenectady,NY

In [46]:
emp["Date of Birth"] = pd.to_datetime(emp["Date of Birth"])
emp["Date of Joining"] = pd.to_datetime(emp["Date of Joining"])
emp["Gender"] = emp["Gender"].astype("category")
emp["State"] = emp["State"].astype("category")
emp["Last % Hike"] = emp["Last % Hike"].astype("category")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [49]:
emp.head()

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,1982-09-21,2008-02-01,69294,063-02-3609,14%,Chautauqua,Clymer,NY
1,178566,Juliette,Rojo,F,1967-05-08,2011-06-04,193912,671-48-9915,27%,Montgomery,Glenside,PA
2,647173,Milan,Krawczyk,M,1980-04-04,2012-01-19,123681,527-99-6328,11%,Anne Arundel,Gibson Island,MD
3,847634,Elmer,Jason,M,1996-04-09,2017-05-28,93504,063-02-5994,26%,Washington,Mendota,VA
4,260736,Zelda,Forest,F,1959-11-27,2014-01-28,176642,421-67-5501,29%,Schenectady,Schenectady,NY

In [52]:
import pandas as pd

employee = pd.read_csv("employee.csv",parse_dates= ["Date of Birth","Date of Joining"])
select = ["Emp ID","First Name","Last Name","Gender","Date of Birth","Date of Joining","Salary","SSN","Last % Hike",
          "County","City","State"]
emp = employee[select]
emp["Gender"] = emp["Gender"].astype("category")
emp["State"] = emp["State"].astype("category")
emp["Last % Hike"] = emp["Last % Hike"].astype("category")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [53]:
emp.head()

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,1982-09-21,2008-02-01,69294,063-02-3609,14%,Chautauqua,Clymer,NY
1,178566,Juliette,Rojo,F,1967-05-08,2011-06-04,193912,671-48-9915,27%,Montgomery,Glenside,PA
2,647173,Milan,Krawczyk,M,1980-04-04,2012-01-19,123681,527-99-6328,11%,Anne Arundel,Gibson Island,MD
3,847634,Elmer,Jason,M,1996-04-09,2017-05-28,93504,063-02-5994,26%,Washington,Mendota,VA
4,260736,Zelda,Forest,F,1959-11-27,2014-01-28,176642,421-67-5501,29%,Schenectady,Schenectady,NY

In [56]:
#Filter a DataFrame Based on A Condition
import pandas as pd

employee = pd.read_csv("employee.csv",parse_dates= ["Date of Birth","Date of Joining"])
select = ["Emp ID","First Name","Last Name","Gender","Date of Birth","Date of Joining","Salary","SSN","Last % Hike",
          "County","City","State"]
emp = employee[select]
emp["Gender"] = emp["Gender"].astype("category")
emp["State"] = emp["State"].astype("category")
emp["Last % Hike"] = emp["Last % Hike"].astype("category")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [57]:
emp.head(10)

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,1982-09-21,2008-02-01,69294,063-02-3609,14%,Chautauqua,Clymer,NY
1,178566,Juliette,Rojo,F,1967-05-08,2011-06-04,193912,671-48-9915,27%,Montgomery,Glenside,PA
2,647173,Milan,Krawczyk,M,1980-04-04,2012-01-19,123681,527-99-6328,11%,Anne Arundel,Gibson Island,MD
3,847634,Elmer,Jason,M,1996-04-09,2017-05-28,93504,063-02-5994,26%,Washington,Mendota,VA
4,260736,Zelda,Forest,F,1959-11-27,2014-01-28,176642,421-67-5501,29%,Schenectady,Schenectady,NY
5,811306,Rhett,Wan,M,1976-07-14,2009-01-21,59406,608-87-8674,25%,Fresno,Selma,CA
6,956633,Hal,Farrow,M,1967-03-15,1991-02-25,164580,661-22-0722,21%,Stanislaus,Modesto,CA
7,629539,Del,Fernandez,M,1991-08-13,2016-04-07,138662,510-33-5541,25%,Portage,Kent,OH
8,784160,Corey,Jackman,M,1959-04-12,1984-06-29,57616,651-62-1513,21%,Jamaica,Jamaica,NY
9,744723,Bibi,Paddock,F,1991-10-20,2016-11-02,87148,311-35-3566,0%,Overton,Rickman,TN

In [60]:
emp[emp["Gender"] == "M"]

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
2,647173,Milan,Krawczyk,M,1980-04-04,2012-01-19,123681,527-99-6328,11%,Anne Arundel,Gibson Island,MD
3,847634,Elmer,Jason,M,1996-04-09,2017-05-28,93504,063-02-5994,26%,Washington,Mendota,VA
5,811306,Rhett,Wan,M,1976-07-14,2009-01-21,59406,608-87-8674,25%,Fresno,Selma,CA
6,956633,Hal,Farrow,M,1967-03-15,1991-02-25,164580,661-22-0722,21%,Stanislaus,Modesto,CA
7,629539,Del,Fernandez,M,1991-08-13,2016-04-07,138662,510-33-5541,25%,Portage,Kent,OH
8,784160,Corey,Jackman,M,1959-04-12,1984-06-29,57616,651-62-1513,21%,Jamaica,Jamaica,NY
10,423093,Eric,Manning,M,1980-11-02,2002-10-28,149363,647-21-1863,4%,Fayette,Clermont,IA
18,807262,Stefan,Maeda,M,1990-03-23,2011-11-05,67028,312-35-8549,25%,St. Tammany,Slidell,LA
20,807442,Ed,Ferrari,M,1981-09-27,2015-02-15,145831,493-29-4894,1%,Ector,Gardendale,TX
22,496781,Jonathan,Rosa,M,1981-02-19,2010-07-23,198838,276-17-7191,21%,Fairfax,Falls Church,VA
23,301629,Ruben,Weissman,M,1995-12-28,2017-01-03,48543,729-28-4437,22%,Bergen,Elmwood Park,NJ
27,872750,Johnnie,Ibarra,M,1972-01-10,2013-04-14,181385,439-99-8990,15%,San Diego,San Diego,CA
28,813428,Emerson,Sands,M,1978-07-08,2015-01-01,106048,202-84-1432,2%,Cass,Dowagiac,MI
29,380228,Oswaldo,Dodd,M,1975-11-24,1998-11-14,92047,047-15-2729,25%,Washington,Harrison,GA
31,613551,Jay,Shields,M,1981-03-11,2013-08-26,167893,299-15-4635,15%,Jefferson,Denver,CO
32,147663,Douglass,Corrigan,M,1973-03-17,2015-02-19,86718,498-29-1692,22%,Kane,Saint Charles,IL
36,794524,Armand,Fortenberry,M,1992-01-20,2017-02-17,184287,474-55-2375,24%,Greene,Windham,NY
37,392234,Monty,Hail,M,1960-06-21,1983-10-30,89286,322-11-0608,9%,Hampden,Springfield,MA
41,529020,Bernard,Bradshaw,M,1969-08-18,2002-03-31,98634,224-99-5432,7%,Prince George's,Greenbelt,MD
43,269950,Seth,Bilodeau,M,1975-05-05,2002-07-06,164287,635-31-8665,25%,Benzie,Lake Ann,MI
47,845835,Bernard,Fessler,M,1958-07-31,1980-04-17,93610,479-41-2508,10%,LaGrange,South Milford,IN
48,878763,Ernest,Chasse,M,1995-10-11,2017-07-16,86598,108-98-6029,11%,Douglas,Littleton,CO
49,452667,Jeffery,Girard,M,1972-08-13,1998-06-17,78719,484-41-0566,23%,Carroll,Freedom,NH
50,879556,Christoper,Moye,M,1992-03-06,2013-08-24,179104,413-99-1985,3%,Louisa,Oakville,IA
51,541976,Kelley,Greening,M,1979-02-26,2001-06-22,157705,056-02-5142,18%,McKean,Gifford,PA
53,662814,Archie,Folse,M,1992-12-20,2016-01-02,145647,254-99-4830,5%,Tulare,Strathmore,CA
54,609576,Ronny,Legault,M,1977-04-30,2010-05-02,83203,710-18-4670,29%,Lafayette,Bates City,MO
55,492759,Eloy,Brune,M,1972-12-28,2015-02-06,170760,657-36-8074,5%,Damascus,Damascus,GA
57,532795,Carlo,Shotwell,M,1993-06-11,2015-09-23,79470,355-08-1456,4%,New York,New York City,NY
58,863566,Roland,Antonio,M,1989-05-28,2015-01-08,137241,697-16-0179,22%,Brea,Brea,CA
...,...,...,...,...,...,...,...,...,...,...,...,...
9938,463983,Mac,Troy,M,1975-01-11,2015-10-22,114613,398-31-9450,23%,Faulkner,Wooster,AR
9939,491820,Norberto,Bulter,M,1983-06-14,2006-04-13,117739,266-99-5222,9%,Oswego,Williamstown,NY
9940,488767,Isreal,Mccrary,M,1957-12-09,1986-04-18,112844,701-18-8746,0%,Orange,Silverado,CA
9942,343987,Emory,Vang,M,1981-03-26,2016-08-09,70709,418-67-5228,25%,Flagler,Palm Coast,FL
9945,771417,Floyd,Hernandes,M,1987-05-03,2017-04-02,128985,643-29-7864,14%,Washington,Washington,DC
9947,915064,Moses,Franck,M,1974-05-28,2017-02-03,160876,764-29-5310,5%,Kenosha,Bristol,WI
9950,277086,Herman,Garber,M,1994-03-12,2015-07-31,70932,445-27-4182,5%,Richmond,Staten Island,NY
9951,638233,Billie,Quintanilla,M,1967-02-13,2015-01-22,134211,554-99-3774,17%,Westchester,South Salem,NY
9953,283904,Fernando,Littles,M,1974-07-23,2013-09-16,110060,572-99-8958,20%,Vermilion,Westville,IL
9957,114534,Brenton,Gill,M,1962-05-28,2004-11-05,86175,051-02-9533,0%,Nicholas,Summersville,WV
9961,299226,Benton,Devlin,M,1975-09-01,2005-08-08,174147,402-73-3857,9%,Jackson,Kansas City,MO
9962,209237,Napoleon,Banas,M,1990-01-10,2013-09-25,89306,540-83-0653,14%,New Castle,Delaware City,DE
9966,430054,Emmanuel,Mohan,M,1957-09-10,1993-01-12,150498,327-11-2677,16%,Dallas,Dallas,TX
9970,855288,Lucius,Garden,M,1978-09-25,2013-11-16,44110,515-31-2787,14%,Dickinson,Superior,IA
9972,777872,Blaine,Cockrell,M,1973-08-31,2016-06-29,176446,402-73-7948,4%,Sheboygan,Elkhart Lake,WI
9975,692028,Amado,Essary,M,1981-09-12,2014-10-05,108503,400-73-5617,14%,Denton,Denton,TX
9980,958500,Anibal,Schauer,M,1975-10-19,2003-04-17,78099,049-15-2394,8%,Mason,Mason,WV
9982,496055,Roscoe,Montelongo,M,1959-02-23,2013-10-25,144410,202-84-8674,30%,Mohave,Temple Bar Marina,AZ
9983,788619,Delmar,Delano,M,1994-04-04,2015-07-29,59092,388-33-5539,20%,Noble,Cromwell,IN
9985,168624,Gustavo,Carlile,M,1983-06-10,2014-07-20,129622,674-48-7081,28%,Fairfield,Stamford,CT
9986,940887,Damian,Galloway,M,1995-12-17,2017-03-18,44049,648-58-0202,17%,Peoria,Elmwood,IL
9987,952601,King,Breazeale,M,1988-12-21,2015-09-09,189899,506-57-5226,14%,Woodbury,Cushing,IA
9988,543057,Federico,Dalton,M,1959-12-24,1994-06-03,154960,002-11-7963,25%,Rooks,Plainville,KS
9990,914193,Rory,Lafleur,M,1987-11-21,2013-01-10,144440,136-25-8881,18%,Sequim,Sequim,WA
9992,263313,Tyree,Yanez,M,1973-06-22,2005-10-09,171364,648-58-1231,19%,Los Angeles,Los Angeles,CA
9993,293375,Jarred,Dews,M,1970-12-20,2009-01-28,183406,363-39-5400,28%,Larimer,Fort Collins,CO
9994,707693,Blake,Heredia,M,1976-01-23,2005-04-04,148091,466-99-7747,8%,Stanislaus,Waterford,CA
9995,784563,Wally,Barbour,M,1978-05-12,2010-01-10,121605,517-49-7222,21%,New London,Hadlyme,CT
9997,154258,Marlon,Ney,M,1990-06-19,2011-11-09,136216,311-35-8157,17%,Fayette,Ronco,PA
9999,133641,Chas,Hurdle,M,1995-04-20,2016-05-28,45102,067-02-6767,12%,Gallia,Crown City,OH

In [62]:
emp[emp["State"] == "NY"]

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,1982-09-21,2008-02-01,69294,063-02-3609,14%,Chautauqua,Clymer,NY
4,260736,Zelda,Forest,F,1959-11-27,2014-01-28,176642,421-67-5501,29%,Schenectady,Schenectady,NY
8,784160,Corey,Jackman,M,1959-04-12,1984-06-29,57616,651-62-1513,21%,Jamaica,Jamaica,NY
36,794524,Armand,Fortenberry,M,1992-01-20,2017-02-17,184287,474-55-2375,24%,Greene,Windham,NY
40,777936,Nila,Traylor,F,1972-05-06,1998-04-23,93058,437-99-1434,22%,Monroe,Rochester,NY
57,532795,Carlo,Shotwell,M,1993-06-11,2015-09-23,79470,355-08-1456,4%,New York,New York City,NY
90,530532,Peter,Mercer,F,1989-04-24,2010-09-29,146358,397-33-8781,30%,Richmond,Staten Island,NY
107,195233,Carlton,Jalbert,M,1959-09-08,2013-02-05,56462,362-39-4302,23%,Chenango,New Berlin,NY
113,282436,Darin,Deegan,M,1984-03-18,2012-03-24,48702,539-71-2808,9%,Dutchess,Glenham,NY
146,474478,Mohamed,Mingo,M,1980-11-29,2009-01-23,163378,046-15-6722,17%,Erie,Grand Island,NY
152,832406,Jordan,Otoole,M,1991-02-08,2017-06-15,145832,443-27-9807,26%,St. Lawrence,Nicholville,NY
183,429587,Omar,Jump,M,1987-01-14,2008-10-13,110639,044-15-9753,24%,Chenango,Bainbridge,NY
202,532098,Cornell,Watson,M,1965-08-07,2008-03-14,183359,713-18-6040,25%,Suffolk,East Moriches,NY
233,944218,Angel,Pauley,M,1983-06-05,2012-11-16,195245,244-99-3003,20%,Kings,Brooklyn,NY
246,876839,Jackson,Hartzell,M,1968-11-01,2017-04-07,155685,542-81-2874,30%,Sullivan,Obernburg,NY
255,802318,Brad,Yang,M,1990-04-03,2012-11-26,86558,663-22-6863,4%,Chemung,Elmira,NY
262,482254,Silas,Linares,M,1985-02-27,2006-02-22,111691,697-16-8286,18%,Wyoming,Gainesville,NY
266,498410,Johnson,Corbett,M,1983-02-25,2006-05-18,75419,095-02-8343,13%,Ulster,West Camp,NY
302,730758,Aisha,Brake,F,1970-01-20,2012-04-11,77750,286-15-6751,26%,Rensselaer,Berlin,NY
335,450715,Millie,Woodyard,F,1968-09-07,2006-02-06,82801,509-33-3301,14%,New York,New York City,NY
338,698826,Boyd,Ohara,M,1959-04-05,1983-05-31,118135,072-02-1149,22%,Kings,Brooklyn,NY
346,828940,Charisse,Naumann,F,1973-07-05,2007-05-28,112571,380-37-6708,9%,Jefferson,Brownville,NY
360,664265,Kennith,Orcutt,M,1978-04-11,2012-07-17,78222,651-62-4773,25%,Jamaica,Jamaica,NY
367,621826,Hui,Cauley,F,1971-09-04,1997-01-10,71413,317-35-0218,10%,Nassau,Manhasset,NY
431,567128,Jed,Millner,M,1994-05-12,2015-06-26,97193,276-17-6813,26%,Saratoga,Schuylerville,NY
441,379250,Kristofer,Rau,M,1958-12-28,2002-12-23,175582,178-86-3103,12%,Kings,Brooklyn,NY
524,930458,Ed,Herbert,M,1967-02-09,1989-12-03,116333,298-15-0303,3%,Dutchess,Bangall,NY
546,169907,Agatha,Wojcik,F,1964-12-21,1987-11-20,101836,141-23-8618,28%,Richmond,Staten Island,NY
566,714638,Myron,Brant,M,1966-08-28,1987-11-21,167114,655-36-0660,9%,Otsego,Edmeston,NY
571,747853,Otha,Honaker,M,1983-09-23,2013-06-10,116716,505-59-3614,30%,Warren,Diamond Point,NY
...,...,...,...,...,...,...,...,...,...,...,...,...
9443,380395,Adolph,Mcinerney,M,1960-10-11,2014-08-29,159089,299-15-4077,27%,Queens,Rego Park,NY
9464,688463,Kenton,Ruble,M,1990-11-23,2017-01-27,59609,363-39-2013,16%,Queens,Rosedale,NY
9465,635113,Eartha,Trinh,F,1988-02-19,2010-12-24,169763,055-02-2403,21%,Clinton,Cadyville,NY
9492,704537,Micaela,Greenberg,F,1994-01-19,2017-01-18,189808,405-73-4540,8%,Lewis,Lowville,NY
9509,580290,Domenica,Jaime,F,1976-05-28,2017-06-25,95636,209-84-7932,18%,Cattaraugus,Steamburg,NY
9511,859420,Garnett,Leister,F,1969-07-21,2008-04-28,80352,654-38-4297,20%,Westchester,Pleasantville,NY
9514,256251,Saul,Mayhew,M,1971-01-21,1995-06-07,90893,530-99-8295,24%,Cortland,Little York,NY
9523,446069,Darby,Roscoe,F,1988-09-04,2017-07-28,172942,659-24-2715,5%,Dutchess,Millbrook,NY
9529,589123,Ludie,Garrity,F,1985-10-26,2008-06-26,102109,235-57-3791,8%,Bronx,Bronx,NY
9533,648072,Leeanna,Duren,F,1964-10-18,1989-04-20,48071,237-99-0587,0%,Ulster,Gardiner,NY
9537,632155,Lizette,Koenig,F,1965-01-14,1998-01-23,88683,158-23-2451,3%,Onondaga,Syracuse,NY
9555,925583,Venus,Tracy,F,1977-07-13,2004-03-21,162067,209-84-7621,6%,Westchester,Rye,NY
9622,899851,Shanae,Janes,F,1994-08-09,2015-09-13,50139,668-48-5078,28%,Onondaga,Syracuse,NY
9627,197721,Kylie,Roney,F,1983-11-21,2009-02-12,63629,254-99-9439,9%,Schuyler,Reading Center,NY
9642,984014,Cindi,Faria,F,1965-05-12,1992-12-16,178141,590-99-4310,4%,Wayne,Sodus,NY
9668,188467,Jeanelle,Songer,F,1973-07-18,2008-04-14,135509,189-86-9460,7%,Allegany,Wellsville,NY
9680,162327,Damian,Deluca,M,1976-11-24,1998-12-19,172952,193-86-4413,26%,Dutchess,Rhinecliff,NY
9695,616572,Waneta,Holst,F,1970-01-04,1995-04-09,147812,656-36-7818,4%,Allegany,Allentown,NY
9764,619909,Bob,Rader,M,1977-06-18,2012-02-02,147856,260-99-0675,19%,Schoharie,Central Bridge,NY
9817,519647,Rudolph,Wickman,M,1987-09-16,2012-06-06,42415,540-83-8370,4%,Albany,Albany,NY
9875,435786,Annetta,Gingerich,F,1973-01-18,1995-05-28,182028,103-02-7451,21%,Steuben,Campbell,NY
9898,686068,Iliana,Saenz,F,1972-11-07,2015-08-04,197011,635-31-1807,19%,Kings,Brooklyn,NY
9906,756055,Ernest,Denham,M,1978-03-19,2008-08-14,188124,045-15-7685,21%,Sullivan,Parksville,NY
9915,937665,Willard,Lipps,M,1965-01-09,1986-04-15,52132,397-33-3234,11%,Jefferson,Dexter,NY
9923,373347,Royce,Shaner,M,1975-04-05,2015-12-24,40007,056-02-4379,24%,East Freetown,East Freetown,NY
9926,724194,Antone,Corn,M,1974-12-13,2015-06-24,62115,278-17-7244,13%,Greene,Jewett,NY
9939,491820,Norberto,Bulter,M,1983-06-14,2006-04-13,117739,266-99-5222,9%,Oswego,Williamstown,NY
9950,277086,Herman,Garber,M,1994-03-12,2015-07-31,70932,445-27-4182,5%,Richmond,Staten Island,NY
9951,638233,Billie,Quintanilla,M,1967-02-13,2015-01-22,134211,554-99-3774,17%,Westchester,South Salem,NY
9977,124832,Aide,Arguelles,F,1986-01-17,2011-09-15,82912,389-33-0849,0%,Monroe,Rochester,NY

In [65]:
hike = emp["Last % Hike"] == "14%"
emp[hike]

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,1982-09-21,2008-02-01,69294,063-02-3609,14%,Chautauqua,Clymer,NY
11,207808,Renetta,Hafner,F,1975-01-29,1998-08-22,180289,539-71-9884,14%,Broward,Fort Lauderdale,FL
35,834635,Deloise,Oyler,F,1963-09-04,2015-01-06,173977,563-99-9596,14%,Geauga,Newbury,OH
42,884439,Micheal,Sarmiento,F,1965-07-17,1991-03-21,81467,135-25-1858,14%,St. Francois,Bonne Terre,MO
158,359249,Olin,Warnke,M,1971-11-06,1996-01-11,182597,420-67-6778,14%,Middlesex,Watertown,MA
214,392950,Adrien,Donato,F,1992-03-16,2014-12-19,124523,306-37-9086,14%,Hillsborough,Manchester,NH
252,323219,Eusebio,Mccue,M,1984-10-02,2016-10-26,128748,760-12-0930,14%,Ritchie,Auburn,WV
286,361426,Buck,Dampier,M,1988-05-26,2017-07-16,79239,096-02-0356,14%,Ware,Waycross,GA
335,450715,Millie,Woodyard,F,1968-09-07,2006-02-06,82801,509-33-3301,14%,New York,New York City,NY
365,207343,Raymundo,Dunton,M,1993-01-25,2014-09-21,156709,411-99-3256,14%,Putnam,Bancroft,WV
375,685091,Augustus,Nolin,M,1975-06-13,2004-04-04,83504,058-02-8659,14%,Belmont,Shadyside,OH
386,947866,Cami,Valenzuela,F,1983-06-19,2008-11-15,86556,515-31-5630,14%,Orange,Chelsea,VT
497,904283,Jacques,Kutz,M,1988-02-29,2015-12-24,164385,390-33-4268,14%,Passaic,Paterson,NJ
612,688950,Ninfa,Eaddy,F,1962-08-17,2006-07-21,133408,123-98-9784,14%,Susquehanna,Lenoxville,PA
625,340732,Dorsey,Anselmo,M,1992-04-27,2013-05-01,64195,163-86-5901,14%,Kendall,Oswego,IL
639,245399,Nella,Beverly,F,1987-11-23,2010-12-23,120063,371-37-6773,14%,New York,New York City,NY
722,507766,Sindy,Dorton,F,1958-06-06,1982-02-10,72494,156-23-9805,14%,Washington,Metcalfe,MS
729,630086,Carole,Caceres,F,1982-05-06,2006-07-10,173545,335-11-8659,14%,Champaign,Champaign,IL
746,838089,Sebastian,Cannon,M,1995-08-28,2017-06-10,152499,616-87-8898,14%,North Slope,Atqasuk,AK
776,823155,Donovan,Poore,M,1989-03-24,2011-05-01,142135,581-99-5433,14%,Berkeley,Charleston,SC
817,717193,Clair,Battles,F,1989-01-16,2010-04-09,133834,421-67-6925,14%,Erie,Fairview,PA
852,524907,Fleta,Steinberg,F,1973-05-02,2012-04-02,115599,578-53-7198,14%,Snohomish,Snohomish,WA
854,183132,Joselyn,Brotherton,F,1993-04-30,2014-05-20,168006,407-73-0440,14%,Kankakee,Kankakee,IL
903,483781,Granville,Burks,M,1963-10-18,2008-12-23,171175,284-15-5636,14%,Duplin,Wallace,NC
919,155436,Gus,Schall,M,1981-03-10,2003-01-20,160979,313-35-0762,14%,Sevier,Joseph,UT
989,464630,Kasey,Motley,M,1971-03-31,2006-09-18,46614,465-99-6159,14%,Brevard,Titusville,FL
1006,514649,Kimiko,Strode,F,1993-12-28,2016-11-16,68225,216-89-9952,14%,Westmoreland,Ruffs Dale,PA
1035,553999,Robert,Michaud,M,1985-04-14,2011-06-18,172604,040-15-9451,14%,Pine,Sandstone,MN
1050,788884,Adrianne,Terrell,F,1986-10-05,2013-04-11,64736,130-98-3603,14%,Livingston,Livingston,LA
1059,394368,Tory,Hathorn,M,1971-02-21,2004-02-26,184729,498-29-6273,14%,Sumner,Milan,KS
...,...,...,...,...,...,...,...,...,...,...,...,...
9186,285327,Kennith,Sterner,M,1980-04-08,2003-04-23,69486,427-99-4116,14%,Pope,Pelsor,AR
9295,372902,Mellissa,Eckenrode,F,1979-09-09,2006-05-07,96295,707-18-2898,14%,Plymouth,Le Mars,IA
9306,578764,Idella,Hibbs,F,1961-02-24,1994-09-09,45039,720-18-7879,14%,Sullivan,Paxton,IN
9333,271555,Rosie,Beaulieu,F,1990-03-11,2013-10-25,55845,557-99-9150,14%,Grand Forks,Inkster,ND
9354,982941,Clay,Birt,M,1990-09-05,2012-02-01,96385,450-99-5842,14%,Cattaraugus,Olean,NY
9402,825758,Sherry,Wooldridge,F,1966-11-22,1992-02-14,56685,324-11-0311,14%,Randall,Amarillo,TX
9405,738208,Kareem,Barbieri,M,1965-12-26,1987-01-29,83046,770-02-7025,14%,Langlade,Bryant,WI
9434,233176,Jaime,Worley,F,1980-12-16,2009-04-18,179084,535-71-5515,14%,Power,Arbon,ID
9441,519011,Marion,Schoen,M,1958-03-24,1979-12-11,147380,763-12-7192,14%,Humboldt,Eureka,CA
9458,599619,Diego,Gale,M,1966-08-24,1992-06-11,173090,379-37-8067,14%,Bertie,Merry Hill,NC
9466,164248,Caitlin,Blevins,F,1965-05-17,1988-11-07,115739,037-74-0417,14%,Fresno,Raisin,CA
9474,718204,Theo,Bojorquez,F,1987-03-22,2013-03-11,178967,144-23-7903,14%,St. Francois,Knob Lick,MO
9626,868874,Rodney,Colon,M,1978-08-15,2001-08-08,107884,117-98-7885,14%,Isle of Wight,Smithfield,VA
9647,919830,Annalee,Romine,F,1973-09-11,2012-06-24,170680,434-99-7015,14%,McMullen,Calliham,TX
9696,954572,Jen,Stillwell,F,1976-09-11,2010-01-01,133837,714-18-0185,14%,Suffolk,Boston,MA
9715,793424,Danika,Higa,F,1994-05-18,2015-10-29,92340,631-31-4406,14%,Burke,Columbus,ND
9721,928584,Etsuko,Durbin,F,1990-09-29,2012-01-09,145087,648-58-3813,14%,Lenawee,Tipton,MI
9734,305239,Nathanael,Shaughnessy,M,1974-10-20,2000-03-20,162329,665-22-7566,14%,Pecos,Imperial,TX
9737,137925,Millard,Modlin,M,1983-06-08,2013-05-02,72924,391-33-4889,14%,Hawaii,Paauilo,HI
9823,389556,Rafael,Chew,M,1969-06-23,2003-02-19,98199,711-18-0093,14%,Wake,Apex,NC
9828,478935,Matilde,Coronado,F,1965-08-07,2004-04-19,65605,482-41-3668,14%,Erie,Erie,PA
9889,678310,Willian,Drennan,M,1989-12-13,2013-06-21,60428,356-08-2820,14%,Spotsylvania,Partlow,VA
9893,380847,Gayle,Tarango,M,1984-03-21,2010-08-28,123487,272-17-2982,14%,Walsh,Edinburg,ND
9929,829599,Tiffany,Wilkie,F,1990-08-09,2013-12-23,139301,592-99-6307,14%,Chester,Birchrunville,PA
9945,771417,Floyd,Hernandes,M,1987-05-03,2017-04-02,128985,643-29-7864,14%,Washington,Washington,DC
9960,709858,Pamelia,Gideon,F,1958-06-20,2000-04-21,95179,358-08-4679,14%,Jackson,Peoples,KY
9962,209237,Napoleon,Banas,M,1990-01-10,2013-09-25,89306,540-83-0653,14%,New Castle,Delaware City,DE
9970,855288,Lucius,Garden,M,1978-09-25,2013-11-16,44110,515-31-2787,14%,Dickinson,Superior,IA
9975,692028,Amado,Essary,M,1981-09-12,2014-10-05,108503,400-73-5617,14%,Denton,Denton,TX
9987,952601,King,Breazeale,M,1988-12-21,2015-09-09,189899,506-57-5226,14%,Woodbury,Cushing,IA

In [67]:
emp[emp["County"] != "Chautauqua"]

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
1,178566,Juliette,Rojo,F,1967-05-08,2011-06-04,193912,671-48-9915,27%,Montgomery,Glenside,PA
2,647173,Milan,Krawczyk,M,1980-04-04,2012-01-19,123681,527-99-6328,11%,Anne Arundel,Gibson Island,MD
3,847634,Elmer,Jason,M,1996-04-09,2017-05-28,93504,063-02-5994,26%,Washington,Mendota,VA
4,260736,Zelda,Forest,F,1959-11-27,2014-01-28,176642,421-67-5501,29%,Schenectady,Schenectady,NY
5,811306,Rhett,Wan,M,1976-07-14,2009-01-21,59406,608-87-8674,25%,Fresno,Selma,CA
6,956633,Hal,Farrow,M,1967-03-15,1991-02-25,164580,661-22-0722,21%,Stanislaus,Modesto,CA
7,629539,Del,Fernandez,M,1991-08-13,2016-04-07,138662,510-33-5541,25%,Portage,Kent,OH
8,784160,Corey,Jackman,M,1959-04-12,1984-06-29,57616,651-62-1513,21%,Jamaica,Jamaica,NY
9,744723,Bibi,Paddock,F,1991-10-20,2016-11-02,87148,311-35-3566,0%,Overton,Rickman,TN
10,423093,Eric,Manning,M,1980-11-02,2002-10-28,149363,647-21-1863,4%,Fayette,Clermont,IA
11,207808,Renetta,Hafner,F,1975-01-29,1998-08-22,180289,539-71-9884,14%,Broward,Fort Lauderdale,FL
12,338634,Paz,Pearman,F,1960-02-28,1982-05-25,144804,665-22-7253,25%,Clayton,Garnavillo,IA
13,324573,Ardath,Forman,F,1982-11-12,2009-10-16,189373,449-99-5082,17%,Clarke,Athens,GA
14,953724,Nanci,Osorio,F,1982-07-09,2003-11-07,71321,571-99-4191,26%,Grafton,Lincoln,NH
15,138700,Maricela,Simard,F,1988-07-21,2016-09-25,88513,157-23-8970,20%,Sampson,Ingold,NC
16,644265,Avelina,Stoner,F,1988-10-01,2010-11-30,157826,532-71-2239,20%,Westmoreland,Salina,PA
17,223871,Christene,Mattison,F,1990-09-14,2015-09-13,177224,169-86-8872,6%,Jasper,Alba,MO
18,807262,Stefan,Maeda,M,1990-03-23,2011-11-05,67028,312-35-8549,25%,St. Tammany,Slidell,LA
19,368234,Gillian,Winter,F,1960-01-17,1984-11-28,103619,486-29-0402,10%,Otero,Alamogordo,NM
20,807442,Ed,Ferrari,M,1981-09-27,2015-02-15,145831,493-29-4894,1%,Ector,Gardendale,TX
21,956778,Jewell,Thies,F,1991-02-16,2017-04-28,153248,112-98-0744,25%,Oklahoma City,Oklahoma City,OK
22,496781,Jonathan,Rosa,M,1981-02-19,2010-07-23,198838,276-17-7191,21%,Fairfax,Falls Church,VA
23,301629,Ruben,Weissman,M,1995-12-28,2017-01-03,48543,729-28-4437,22%,Bergen,Elmwood Park,NJ
24,668065,Deja,Niemeyer,F,1961-09-04,2012-06-05,130000,191-86-7546,9%,Jasper,Evadale,TX
25,836931,Selene,Ford,F,1992-03-23,2013-10-07,143902,127-98-1656,6%,Hartford,Hartford,CT
26,914698,Janeen,Norman,F,1989-01-28,2012-01-05,117383,669-48-8772,17%,Richland,Columbia,SC
27,872750,Johnnie,Ibarra,M,1972-01-10,2013-04-14,181385,439-99-8990,15%,San Diego,San Diego,CA
28,813428,Emerson,Sands,M,1978-07-08,2015-01-01,106048,202-84-1432,2%,Cass,Dowagiac,MI
29,380228,Oswaldo,Dodd,M,1975-11-24,1998-11-14,92047,047-15-2729,25%,Washington,Harrison,GA
30,791100,Leone,Buss,F,1968-01-31,1996-12-31,44080,729-28-3357,5%,Oxford,Bryant Pond,ME
...,...,...,...,...,...,...,...,...,...,...,...,...
9970,855288,Lucius,Garden,M,1978-09-25,2013-11-16,44110,515-31-2787,14%,Dickinson,Superior,IA
9971,152975,Chau,Arzola,F,1979-05-06,2015-10-24,159560,724-28-9083,21%,Otoe,Unadilla,NE
9972,777872,Blaine,Cockrell,M,1973-08-31,2016-06-29,176446,402-73-7948,4%,Sheboygan,Elkhart Lake,WI
9973,404862,Kendra,Ramirez,F,1958-04-30,2015-06-01,106091,165-86-2535,5%,Hunterdon,Flemington,NJ
9974,518847,Criselda,Buckman,F,1966-12-30,2012-03-08,46246,206-84-1984,22%,Clay,Glen,WV
9975,692028,Amado,Essary,M,1981-09-12,2014-10-05,108503,400-73-5617,14%,Denton,Denton,TX
9976,793742,Tiesha,Burroughs,F,1992-04-14,2014-11-08,183560,671-48-0590,11%,Marion,Saint Mary,KY
9977,124832,Aide,Arguelles,F,1986-01-17,2011-09-15,82912,389-33-0849,0%,Monroe,Rochester,NY
9978,500647,Devon,Boldt,F,1970-12-01,1997-06-11,161291,542-81-7675,3%,Ventura,Ventura,CA
9979,877054,Kourtney,Ratchford,F,1989-10-04,2014-01-28,146847,001-11-4662,24%,Osage,Koeltztown,MO
9980,958500,Anibal,Schauer,M,1975-10-19,2003-04-17,78099,049-15-2394,8%,Mason,Mason,WV
9981,359942,Breann,Frith,F,1971-10-29,2008-04-09,90583,306-37-0689,1%,Cochise,Fort Huachuca,AZ
9982,496055,Roscoe,Montelongo,M,1959-02-23,2013-10-25,144410,202-84-8674,30%,Mohave,Temple Bar Marina,AZ
9983,788619,Delmar,Delano,M,1994-04-04,2015-07-29,59092,388-33-5539,20%,Noble,Cromwell,IN
9984,863780,Rachell,Clyde,F,1957-09-18,2006-04-11,156557,221-13-7252,16%,Lake,Cobb,CA
9985,168624,Gustavo,Carlile,M,1983-06-10,2014-07-20,129622,674-48-7081,28%,Fairfield,Stamford,CT
9986,940887,Damian,Galloway,M,1995-12-17,2017-03-18,44049,648-58-0202,17%,Peoria,Elmwood,IL
9987,952601,King,Breazeale,M,1988-12-21,2015-09-09,189899,506-57-5226,14%,Woodbury,Cushing,IA
9988,543057,Federico,Dalton,M,1959-12-24,1994-06-03,154960,002-11-7963,25%,Rooks,Plainville,KS
9989,839342,Della,New,F,1984-07-08,2007-09-03,121953,710-18-5206,6%,Knox,East Galesburg,IL
9990,914193,Rory,Lafleur,M,1987-11-21,2013-01-10,144440,136-25-8881,18%,Sequim,Sequim,WA
9991,631859,Trudi,Aiken,F,1990-03-19,2014-10-16,176579,412-99-3358,30%,Wood,Milton Center,OH
9992,263313,Tyree,Yanez,M,1973-06-22,2005-10-09,171364,648-58-1231,19%,Los Angeles,Los Angeles,CA
9993,293375,Jarred,Dews,M,1970-12-20,2009-01-28,183406,363-39-5400,28%,Larimer,Fort Collins,CO
9994,707693,Blake,Heredia,M,1976-01-23,2005-04-04,148091,466-99-7747,8%,Stanislaus,Waterford,CA
9995,784563,Wally,Barbour,M,1978-05-12,2010-01-10,121605,517-49-7222,21%,New London,Hadlyme,CT
9996,538924,Hiroko,Gupta,F,1977-07-07,2001-09-09,188357,555-99-2664,9%,Chance,Chance,VA
9997,154258,Marlon,Ney,M,1990-06-19,2011-11-09,136216,311-35-8157,17%,Fayette,Ronco,PA
9998,173003,Willia,Weigand,F,1960-10-20,2005-07-30,158292,220-89-1238,12%,Stonewall,Aspermont,TX
9999,133641,Chas,Hurdle,M,1995-04-20,2016-05-28,45102,067-02-6767,12%,Gallia,Crown City,OH

In [78]:
emp[emp["Salary"] >= 190000]

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
1,178566,Juliette,Rojo,F,1967-05-08,2011-06-04,193912,671-48-9915,27%,Montgomery,Glenside,PA
22,496781,Jonathan,Rosa,M,1981-02-19,2010-07-23,198838,276-17-7191,21%,Fairfax,Falls Church,VA
34,596529,Lana,Arbuckle,F,1967-10-22,1996-11-11,193628,226-99-7414,10%,Oklahoma,Oklahoma City,OK
68,214814,Sherman,Coward,M,1982-12-25,2004-12-19,191501,756-12-7850,11%,Mingo,Delbarton,WV
78,357807,Noe,Stanger,M,1984-06-09,2016-12-06,192182,520-61-5247,20%,The Plains,The Plains,VA
87,817786,Elden,Ordonez,M,1993-09-22,2015-10-04,197078,095-02-9924,10%,Crow Wing,Crosslake,MN
89,989292,Mariela,Santoyo,F,1990-04-15,2011-06-29,191952,540-83-6500,5%,Passaic,Oak Ridge,NJ
110,315817,Marti,Brewton,F,1979-04-16,2015-06-22,198686,111-98-5790,24%,Holmes,Nashville,OH
118,284601,Felton,Tooley,M,1994-01-14,2017-05-04,192833,532-71-1533,8%,Hinds,Terry,MS
124,706947,Elden,Nadeau,M,1970-04-22,1995-06-09,191570,110-98-1203,12%,Butte,Chico,CA
143,340069,Edmund,Otto,M,1960-07-16,1992-12-20,196010,606-87-3648,28%,Ocean,Normandy Beach,NJ
184,785926,Aletha,Chapman,F,1959-05-09,1981-01-27,194028,156-23-0163,9%,Wayne,Equinunk,PA
217,754951,Gertrud,Cain,F,1972-11-12,2014-12-31,191021,167-86-9119,29%,Sibley,Gaylord,MN
233,944218,Angel,Pauley,M,1983-06-05,2012-11-16,195245,244-99-3003,20%,Kings,Brooklyn,NY
258,209903,Lucienne,Roark,F,1976-02-07,2002-06-23,197473,538-71-4040,25%,Goochland,Richmond,VA
277,972253,Inger,Shipley,F,1966-02-20,2014-10-17,198534,045-15-6519,26%,Sacramento,Sacramento,CA
295,647343,Kami,Watson,F,1977-02-14,2016-08-09,192179,485-41-9173,26%,York,North Berwick,ME
313,704737,Sydney,Polley,M,1962-07-23,2011-07-02,192920,068-02-8647,1%,Los Angeles,North Hollywood,CA
324,602306,Lazaro,Broadnax,M,1985-06-19,2013-10-31,193750,628-31-1388,10%,Cuyahoga,Cleveland,OH
354,856366,Margeret,Kornegay,F,1973-09-22,2004-06-17,191024,592-99-5999,17%,La Quinta,La Quinta,CA
368,887596,Roscoe,Book,M,1958-05-03,1991-05-28,193813,238-99-4940,26%,Limestone,Mexia,TX
376,488166,Halina,Jack,F,1995-09-24,2017-05-29,199806,004-13-2032,17%,McCurtain,Haworth,OK
384,480296,Weston,Griswold,M,1990-09-25,2016-10-26,198781,064-02-0306,30%,Breathitt,Jackson,KY
418,208854,Foster,Steffen,M,1975-09-24,2009-01-26,192597,384-37-5583,10%,Monroe,Glace,WV
424,232329,Alexis,Dias,M,1990-07-08,2017-06-11,193600,389-33-3433,17%,Anchorage Municipality,Anchorage,AK
447,155369,Vallie,Wolf,F,1996-01-01,2017-05-29,196983,378-37-7736,30%,Wright,Galt,IA
489,500710,Dottie,Alderson,F,1964-07-25,1989-08-01,197914,230-99-3437,24%,Douglas,Palisades,WA
495,909132,Sherri,Doiron,F,1987-05-11,2010-07-02,194379,181-86-3762,4%,Presque Isle,Onaway,MI
515,290695,Pat,Windle,M,1977-06-21,2017-03-22,198256,054-02-1677,22%,Lake,Hammond,IN
528,248675,Brady,Delatorre,M,1958-04-28,1981-05-31,191620,542-81-7808,2%,Washington,Cecil,PA
...,...,...,...,...,...,...,...,...,...,...,...,...
9363,768767,Elene,Riddick,F,1970-11-03,1996-02-04,196965,694-16-2942,29%,Meade,Ekron,KY
9377,587028,Verena,Tooley,F,1989-06-14,2012-12-28,198998,101-02-8866,12%,San Mateo,Redwood City,CA
9415,622944,Felton,Autrey,M,1970-02-18,2015-04-20,194350,706-18-9482,21%,Elk,Brandy Camp,PA
9420,951681,Diedre,Walter,F,1977-05-21,2001-08-16,194528,444-27-3315,27%,Nelson,Montebello,VA
9422,241983,Elijah,Mcmillin,M,1983-04-05,2008-04-15,197583,408-99-8644,27%,Union,Spearsville,LA
9423,506562,Antone,Beaton,M,1994-08-11,2016-06-28,191604,110-98-9527,9%,LaPorte,Rolling Prairie,IN
9436,950563,Nichelle,Ruch,F,1972-07-25,2012-03-18,190108,213-91-5960,27%,Harris,Ellerslie,GA
9470,247763,Eduardo,Cawley,M,1992-03-15,2016-08-31,194718,213-91-7958,12%,Miami-Dade,Miami,FL
9510,672252,Jim,Terry,M,1987-01-18,2010-07-24,199954,246-99-2866,11%,Pottawatomie,Saint Marys,KS
9532,863614,Garth,Ickes,M,1976-04-20,2000-06-21,199145,194-86-0283,1%,Monroe,East Stroudsburg,PA
9540,802013,Kaleigh,Edelstein,F,1962-11-11,2001-09-02,199697,276-17-4958,9%,McPherson,Inman,KS
9556,361089,Ying,Pinkney,F,1974-01-29,2001-04-14,191112,720-18-6899,3%,Jefferson,Wrens,GA
9571,957306,Andrew,Quintana,M,1965-05-14,1996-09-09,194183,054-02-8349,7%,Brooke,Beech Bottom,WV
9579,361045,Bree,Fahey,F,1983-02-20,2013-12-09,198810,126-98-2403,3%,Spokane,Freeman,WA
9612,242626,Mac,Wayman,M,1983-07-27,2004-12-07,196273,062-02-4205,5%,Okaloosa,Fort Walton Beach,FL
9644,695956,Lisa,Baines,F,1978-10-08,2001-12-01,199435,468-57-6236,20%,Natchitoches,Provencal,LA
9653,507913,Pasty,Wooden,F,1981-03-09,2012-02-08,191515,225-99-1761,26%,Polk,Des Moines,IA
9679,645411,Earnest,Hester,M,1979-12-30,2002-10-15,199097,535-71-7007,17%,Orangeburg,Santee,SC
9731,210237,Jordon,Dorris,M,1980-02-07,2015-12-28,193773,274-17-1448,11%,Escambia,Pensacola,FL
9749,197636,Walter,Mount,M,1984-05-11,2013-06-12,191603,569-99-4586,0%,Casanova,Casanova,VA
9762,435152,Albert,Quach,M,1982-03-08,2015-07-31,199580,449-99-7794,25%,Harlan,Big Laurel,KY
9772,165961,Robin,Wachter,M,1980-12-18,2015-02-15,190286,246-99-6647,4%,St. Mary's,Chaptico,MD
9779,434093,Shonda,Farkas,F,1959-08-21,2008-12-09,193286,641-29-8173,10%,Surry,Ararat,NC
9797,986806,Abraham,Leeper,M,1957-12-04,2006-02-03,196622,307-37-7642,15%,Hendricks,Stilesville,IN
9833,178966,Salina,Gee,F,1960-06-06,1984-06-25,191250,561-99-2625,22%,Edgar,Metcalf,IL
9863,911610,Tandy,Hackett,F,1984-08-13,2014-04-30,195685,305-37-6424,25%,Paulding,Hiram,GA
9883,361526,Marsha,Munson,F,1990-11-09,2013-09-23,195615,076-02-5933,22%,Forsyth,Winston Salem,NC
9885,959770,Ami,Prosser,F,1983-06-21,2013-11-07,192615,287-15-3179,16%,Saline,Brookville,KS
9898,686068,Iliana,Saenz,F,1972-11-07,2015-08-04,197011,635-31-1807,19%,Kings,Brooklyn,NY
9900,597771,Tressie,Fernandes,F,1986-03-15,2010-08-15,194262,372-37-4714,30%,Sacramento,Sacramento,CA

In [80]:
emp[emp["Date of Joining"] <= "1993-01-01"]

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
6,956633,Hal,Farrow,M,1967-03-15,1991-02-25,164580,661-22-0722,21%,Stanislaus,Modesto,CA
8,784160,Corey,Jackman,M,1959-04-12,1984-06-29,57616,651-62-1513,21%,Jamaica,Jamaica,NY
12,338634,Paz,Pearman,F,1960-02-28,1982-05-25,144804,665-22-7253,25%,Clayton,Garnavillo,IA
19,368234,Gillian,Winter,F,1960-01-17,1984-11-28,103619,486-29-0402,10%,Otero,Alamogordo,NM
37,392234,Monty,Hail,M,1960-06-21,1983-10-30,89286,322-11-0608,9%,Hampden,Springfield,MA
38,444753,Judith,Owen,F,1958-02-14,1982-05-17,76503,244-99-8820,13%,York,Biddeford,ME
42,884439,Micheal,Sarmiento,F,1965-07-17,1991-03-21,81467,135-25-1858,14%,St. Francois,Bonne Terre,MO
47,845835,Bernard,Fessler,M,1958-07-31,1980-04-17,93610,479-41-2508,10%,LaGrange,South Milford,IN
69,869212,Refugio,Bechtold,M,1963-03-04,1987-11-22,160455,428-99-9971,22%,Upshur,Gilmer,TX
70,133611,Felix,Imhoff,M,1962-01-09,1985-06-03,64560,299-15-3804,16%,Choctaw,Needham,AL
75,663907,Alec,Odaniel,M,1966-12-17,1991-09-20,88011,196-84-5971,11%,Le Flore,Leflore,OK
108,471845,Jeanett,Darden,F,1960-03-09,1988-06-17,53469,073-02-5369,12%,Mecklenburg,Charlotte,NC
114,907609,Ervin,Wescott,M,1958-04-16,1980-09-27,182279,653-60-8570,5%,Clay,Ovapa,WV
126,440411,Nydia,Flake,F,1959-12-18,1981-04-08,123144,406-73-9033,20%,Tallapoosa,East Tallassee,AL
127,754161,Mariko,Colombo,F,1961-05-26,1990-01-20,86640,588-09-9705,29%,Taney,Cedarcreek,MO
128,682431,Luigi,Gutshall,M,1962-11-10,1991-10-11,182665,720-18-3185,25%,Sullivan,Sullivan,IN
134,224652,Theron,Nugent,M,1969-10-14,1991-11-30,129073,315-35-4426,29%,Pima,Tucson,AZ
143,340069,Edmund,Otto,M,1960-07-16,1992-12-20,196010,606-87-3648,28%,Ocean,Normandy Beach,NJ
164,961360,Hattie,Ferrer,F,1961-10-12,1987-01-23,100567,532-71-0901,1%,Dane,Madison,WI
175,943905,Lavonne,Loney,F,1959-05-05,1988-09-30,182513,122-98-2537,25%,Richland,Mantador,ND
177,793630,Aurora,Mcwhirter,F,1968-07-21,1990-05-29,141342,061-02-3526,13%,Yukon-Koyukuk (CA),Nulato,AK
184,785926,Aletha,Chapman,F,1959-05-09,1981-01-27,194028,156-23-0163,9%,Wayne,Equinunk,PA
186,340026,Bud,Prior,M,1967-01-14,1988-03-20,79254,519-87-2775,29%,Schuyler,Queen City,MO
203,335653,Ivory,Tisdale,M,1963-12-22,1988-12-19,160176,677-22-0449,21%,Lake,Barrington,IL
222,861640,Matthew,Roeder,M,1959-01-14,1986-12-27,61152,636-31-1048,23%,Cook,Orland Park,IL
244,613946,Cary,Larock,M,1962-12-24,1986-11-30,151939,700-18-4102,2%,Fayette,White,PA
285,694749,Traci,Ortiz,F,1961-08-23,1990-06-21,111161,664-22-3992,17%,Breckinridge,Webster,KY
288,197264,Rocky,Wooley,M,1967-04-13,1992-03-02,148147,452-99-9827,24%,Ochiltree,Waka,TX
320,232653,Ines,Ragland,F,1965-07-27,1990-01-16,61079,001-11-3780,0%,Jefferson,Dandridge,TN
338,698826,Boyd,Ohara,M,1959-04-05,1983-05-31,118135,072-02-1149,22%,Kings,Brooklyn,NY
...,...,...,...,...,...,...,...,...,...,...,...,...
9586,484717,Reginald,Montelongo,M,1960-03-24,1991-12-15,148658,067-02-6513,12%,Tuolumne,Strawberry,CA
9595,871798,Anna,Gillis,F,1966-01-23,1987-07-04,152151,618-87-2618,16%,Cuyahoga,Cleveland,OH
9597,826529,Ed,Stull,M,1964-09-25,1989-08-24,70818,609-87-3208,8%,Hillsborough,Tampa,FL
9642,984014,Cindi,Faria,F,1965-05-12,1992-12-16,178141,590-99-4310,4%,Wayne,Sodus,NY
9657,958081,Edmond,Roseberry,M,1967-08-21,1990-09-08,49771,151-23-9495,12%,Orange,Fountain Valley,CA
9669,524641,Vickey,Stanfill,F,1964-09-16,1990-12-17,92182,243-99-7899,4%,Worth,Warwick,GA
9690,677417,Hector,Cooper,M,1961-07-02,1991-03-26,171547,092-02-6253,15%,Muskegon,Twin Lake,MI
9716,231526,Bernie,Begin,M,1960-05-15,1988-06-01,145603,390-33-0233,10%,Champaign,Philo,IL
9719,957260,Margo,Odonnell,F,1958-06-24,1982-01-06,93745,675-48-8508,12%,Clay,Barnesville,MN
9725,963824,Fermina,Su,F,1965-09-04,1988-09-16,76782,342-11-0129,28%,Contra Costa,Richmond,CA
9732,589593,Suzann,Crawford,F,1965-05-30,1991-08-22,70836,276-17-8333,18%,Nemaha,Baileyville,KS
9761,900281,Filiberto,Pedigo,M,1958-06-18,1990-07-05,179134,611-87-0972,26%,Chippewa,Milan,MN
9781,302977,Arthur,Roa,F,1961-03-26,1989-03-01,95876,078-02-7890,17%,Fayette,Rossville,TN
9802,891222,Garret,Marra,M,1961-01-02,1985-06-23,166751,275-17-4391,23%,Platte,Kansas City,MO
9804,475411,Lorina,Barley,F,1957-08-17,1992-09-19,47549,099-02-7321,1%,Lenawee,Riga,MI
9812,114032,Chastity,Howse,F,1960-04-10,1985-08-17,79141,604-87-0475,12%,Patrick,Claudville,VA
9833,178966,Salina,Gee,F,1960-06-06,1984-06-25,191250,561-99-2625,22%,Edgar,Metcalf,IL
9842,612551,Florentino,Raines,M,1966-04-10,1990-08-21,164168,141-23-8872,12%,Plymouth,Kingston,MA
9854,671829,Carly,Kitts,F,1967-09-19,1991-07-29,119799,049-15-3262,22%,Roanoke (city),Roanoke,VA
9891,307135,Boyce,Broderick,M,1961-07-14,1983-12-07,65277,120-98-7056,21%,Decatur,Scotts Hill,TN
9894,930301,Rufina,Rademacher,F,1968-06-17,1992-09-30,55152,296-15-6752,27%,Cumberland,Camp Hill,PA
9899,510897,Alene,Throckmorton,F,1964-05-28,1988-02-26,73907,018-94-7267,12%,Essex,Glen Ridge,NJ
9915,937665,Willard,Lipps,M,1965-01-09,1986-04-15,52132,397-33-3234,11%,Jefferson,Dexter,NY
9916,564860,Donnette,Rosenfeld,F,1959-09-01,1984-09-09,164119,397-33-0636,1%,Lancaster,Hickman,NE
9924,180125,Keira,Singley,F,1965-01-24,1987-01-06,66507,316-35-1435,7%,Escambia,Pensacola,FL
9927,142828,Tyrone,Conant,M,1968-02-27,1992-10-19,72928,572-99-5965,1%,Buncombe,Asheville,NC
9928,463044,Juana,Fielding,F,1961-12-02,1989-04-08,94190,421-67-0793,24%,Coryell,Gatesville,TX
9935,909259,Gwendolyn,Glick,F,1958-01-27,1991-09-05,69089,114-98-0112,29%,Kootenai,Coeur D Alene,ID
9940,488767,Isreal,Mccrary,M,1957-12-09,1986-04-18,112844,701-18-8746,0%,Orange,Silverado,CA
9948,183012,Chastity,Sorenson,F,1960-04-30,1991-07-04,76948,637-29-8775,7%,Dawson,Sumner,NE

In [1]:
#Filter a DataFrame Based on A Condition
#Filter with More than One Condition (AND - &)
import pandas as pd

employee = pd.read_csv("employee.csv",parse_dates= ["Date of Birth","Date of Joining"])
select = ["Emp ID","First Name","Last Name","Gender","Date of Birth","Date of Joining","Salary","SSN","Last % Hike",
          "County","City","State"]
emp = employee[select]
emp["Gender"] = emp["Gender"].astype("category")
emp["State"] = emp["State"].astype("category")
emp["Last % Hike"] = emp["Last % Hike"].astype("category")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [2]:
emp.head()

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,1982-09-21,2008-02-01,69294,063-02-3609,14%,Chautauqua,Clymer,NY
1,178566,Juliette,Rojo,F,1967-05-08,2011-06-04,193912,671-48-9915,27%,Montgomery,Glenside,PA
2,647173,Milan,Krawczyk,M,1980-04-04,2012-01-19,123681,527-99-6328,11%,Anne Arundel,Gibson Island,MD
3,847634,Elmer,Jason,M,1996-04-09,2017-05-28,93504,063-02-5994,26%,Washington,Mendota,VA
4,260736,Zelda,Forest,F,1959-11-27,2014-01-28,176642,421-67-5501,29%,Schenectady,Schenectady,NY

In [4]:
mask1 = emp["Gender"] == "M"

In [8]:
mask2 = emp["State"] == "NY"

In [9]:
mask3 = emp["Last % Hike"] == "14%"

In [10]:
emp[mask1 & mask2 & mask3]

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
2125,528963,Eldridge,Tague,M,1976-04-20,2001-04-04,116788,178-86-9424,14%,Monroe,Rochester,NY
2385,341578,Henry,Mcnamee,M,1991-03-19,2013-03-04,141536,377-37-7908,14%,Chautauqua,Falconer,NY
3075,561555,Ismael,Dittmer,M,1990-08-27,2013-04-18,152010,391-33-7585,14%,St. Lawrence,Raymondville,NY
6413,360340,Donald,Gabbard,M,1981-06-05,2007-05-03,58311,729-28-6011,14%,Chautauqua,Dewittville,NY
7581,163804,Hoyt,Rohr,M,1996-01-15,2017-04-12,66840,211-84-0868,14%,Nassau,Merrick,NY
7894,909850,Josef,Haggerty,M,1982-07-08,2011-10-11,72564,358-08-3146,14%,Suffolk,Mid Island,NY
8410,261767,Devon,Ferraro,M,1985-09-17,2017-05-08,54230,606-87-8809,14%,Chautauqua,Bemus Point,NY
8541,451331,Lucius,Giglio,M,1996-07-24,2017-07-24,57970,471-57-5314,14%,Niagara,Burt,NY
8859,900751,Reuben,Havens,M,1958-02-12,2006-12-17,42674,224-99-3710,14%,Schoharie,Fultonham,NY
9354,982941,Clay,Birt,M,1990-09-05,2012-02-01,96385,450-99-5842,14%,Cattaraugus,Olean,NY

In [ ]:
#Filter with More than One Condition (OR - |)

In [13]:
emp[mask1 | mask2].head(10)

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,1982-09-21,2008-02-01,69294,063-02-3609,14%,Chautauqua,Clymer,NY
2,647173,Milan,Krawczyk,M,1980-04-04,2012-01-19,123681,527-99-6328,11%,Anne Arundel,Gibson Island,MD
3,847634,Elmer,Jason,M,1996-04-09,2017-05-28,93504,063-02-5994,26%,Washington,Mendota,VA
4,260736,Zelda,Forest,F,1959-11-27,2014-01-28,176642,421-67-5501,29%,Schenectady,Schenectady,NY
5,811306,Rhett,Wan,M,1976-07-14,2009-01-21,59406,608-87-8674,25%,Fresno,Selma,CA
6,956633,Hal,Farrow,M,1967-03-15,1991-02-25,164580,661-22-0722,21%,Stanislaus,Modesto,CA
7,629539,Del,Fernandez,M,1991-08-13,2016-04-07,138662,510-33-5541,25%,Portage,Kent,OH
8,784160,Corey,Jackman,M,1959-04-12,1984-06-29,57616,651-62-1513,21%,Jamaica,Jamaica,NY
10,423093,Eric,Manning,M,1980-11-02,2002-10-28,149363,647-21-1863,4%,Fayette,Clermont,IA
18,807262,Stefan,Maeda,M,1990-03-23,2011-11-05,67028,312-35-8549,25%,St. Tammany,Slidell,LA

In [16]:
emp[(mask1 & mask2) | mask3].head(16)

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
0,198429,Serafina,Bumgarner,F,1982-09-21,2008-02-01,69294,063-02-3609,14%,Chautauqua,Clymer,NY
8,784160,Corey,Jackman,M,1959-04-12,1984-06-29,57616,651-62-1513,21%,Jamaica,Jamaica,NY
11,207808,Renetta,Hafner,F,1975-01-29,1998-08-22,180289,539-71-9884,14%,Broward,Fort Lauderdale,FL
35,834635,Deloise,Oyler,F,1963-09-04,2015-01-06,173977,563-99-9596,14%,Geauga,Newbury,OH
36,794524,Armand,Fortenberry,M,1992-01-20,2017-02-17,184287,474-55-2375,24%,Greene,Windham,NY
42,884439,Micheal,Sarmiento,F,1965-07-17,1991-03-21,81467,135-25-1858,14%,St. Francois,Bonne Terre,MO
57,532795,Carlo,Shotwell,M,1993-06-11,2015-09-23,79470,355-08-1456,4%,New York,New York City,NY
107,195233,Carlton,Jalbert,M,1959-09-08,2013-02-05,56462,362-39-4302,23%,Chenango,New Berlin,NY
113,282436,Darin,Deegan,M,1984-03-18,2012-03-24,48702,539-71-2808,9%,Dutchess,Glenham,NY
146,474478,Mohamed,Mingo,M,1980-11-29,2009-01-23,163378,046-15-6722,17%,Erie,Grand Island,NY
152,832406,Jordan,Otoole,M,1991-02-08,2017-06-15,145832,443-27-9807,26%,St. Lawrence,Nicholville,NY
158,359249,Olin,Warnke,M,1971-11-06,1996-01-11,182597,420-67-6778,14%,Middlesex,Watertown,MA
183,429587,Omar,Jump,M,1987-01-14,2008-10-13,110639,044-15-9753,24%,Chenango,Bainbridge,NY
202,532098,Cornell,Watson,M,1965-08-07,2008-03-14,183359,713-18-6040,25%,Suffolk,East Moriches,NY
214,392950,Adrien,Donato,F,1992-03-16,2014-12-19,124523,306-37-9086,14%,Hillsborough,Manchester,NH
233,944218,Angel,Pauley,M,1983-06-05,2012-11-16,195245,244-99-3003,20%,Kings,Brooklyn,NY

In [38]:
#The .isin() Method
import pandas as pd

employee = pd.read_csv("employee.csv",parse_dates= ["Date of Birth","Date of Joining"])
select = ["Emp ID","First Name","Last Name","Gender","Date of Birth","Date of Joining","Salary","SSN","Last % Hike",
          "County","City","State"]
emp = employee[select]
emp["Gender"] = emp["Gender"].astype("category")
emp["State"] = emp["State"].astype("category")
emp["Last % Hike"] = emp["Last % Hike"].astype("category")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [31]:
e = emp.sort_values(by ="Emp ID",inplace= False)

In [33]:
e.head()

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
994,111282,Claude,Boykins,M,1967-02-20,1992-02-23,118158,316-35-9848,26%,Dinwiddie,Mc Kenney,VA
1451,111415,Gene,Sebastian,M,1988-04-22,2015-03-19,139501,294-15-0140,20%,Houston,Warner Robins,GA
192,111498,Wan,Dickman,F,1990-08-11,2016-05-06,173022,704-18-5219,21%,Benton,Mount Auburn,IA
9876,111730,Nickie,Buie,F,1992-10-30,2015-12-02,141852,607-87-9903,29%,Carroll,East Wakefield,NH
8553,111787,Phyliss,Kaplan,F,1970-09-07,1995-04-13,86657,703-18-5144,29%,Miami-Dade,Miami,FL

In [39]:
mask1 = e["State"] == "NY"
mask2 = e["State"] == "VA"
mask3 = e["State"] == "NH"

In [42]:
e[mask1 | mask2 | mask3].head(10)

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
994,111282,Claude,Boykins,M,1967-02-20,1992-02-23,118158,316-35-9848,26%,Dinwiddie,Mc Kenney,VA
9876,111730,Nickie,Buie,F,1992-10-30,2015-12-02,141852,607-87-9903,29%,Carroll,East Wakefield,NH
8414,112074,Emmitt,Dugas,M,1966-01-29,2006-09-12,166231,039-74-0003,25%,New York,New York City,NY
2686,112421,Kami,Najera,F,1967-08-24,1995-04-15,69105,054-02-9488,25%,Norfolk (city),Norfolk,VA
7482,112874,Chas,Price,M,1974-02-16,2017-01-17,184617,352-08-4027,19%,Sullivan,Eldred,NY
9812,114032,Chastity,Howse,F,1960-04-10,1985-08-17,79141,604-87-0475,12%,Patrick,Claudville,VA
2236,116319,Columbus,Krick,M,1964-10-01,1994-09-02,188382,475-55-5746,27%,New York,New York City,NY
7743,117317,Enoch,Herb,M,1964-11-24,1993-11-29,171384,174-86-0494,10%,Cairo,Cairo,NY
6435,117689,Treva,Nutter,F,1992-01-24,2013-02-17,127427,488-29-7884,11%,Suffolk,Huntington,NY
7506,118477,Steven,Penny,F,1993-04-13,2015-05-25,123672,619-87-1289,16%,Clarke,Millwood,VA

In [44]:
mask = e["State"].isin(["NY","NH","VA"])

In [46]:
e[mask].head(20)

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
994,111282,Claude,Boykins,M,1967-02-20,1992-02-23,118158,316-35-9848,26%,Dinwiddie,Mc Kenney,VA
9876,111730,Nickie,Buie,F,1992-10-30,2015-12-02,141852,607-87-9903,29%,Carroll,East Wakefield,NH
8414,112074,Emmitt,Dugas,M,1966-01-29,2006-09-12,166231,039-74-0003,25%,New York,New York City,NY
2686,112421,Kami,Najera,F,1967-08-24,1995-04-15,69105,054-02-9488,25%,Norfolk (city),Norfolk,VA
7482,112874,Chas,Price,M,1974-02-16,2017-01-17,184617,352-08-4027,19%,Sullivan,Eldred,NY
9812,114032,Chastity,Howse,F,1960-04-10,1985-08-17,79141,604-87-0475,12%,Patrick,Claudville,VA
2236,116319,Columbus,Krick,M,1964-10-01,1994-09-02,188382,475-55-5746,27%,New York,New York City,NY
7743,117317,Enoch,Herb,M,1964-11-24,1993-11-29,171384,174-86-0494,10%,Cairo,Cairo,NY
6435,117689,Treva,Nutter,F,1992-01-24,2013-02-17,127427,488-29-7884,11%,Suffolk,Huntington,NY
7506,118477,Steven,Penny,F,1993-04-13,2015-05-25,123672,619-87-1289,16%,Clarke,Millwood,VA
1690,121709,Mariann,Bank,F,1996-07-30,2017-07-25,125895,158-23-5450,15%,Richmond (city),Richmond,VA
3030,121832,Ophelia,Riccio,F,1972-03-03,1994-02-24,113221,726-18-2262,11%,New York,New York City,NY
430,123993,Kayleen,Gossett,F,1986-05-18,2014-05-09,104782,123-98-4255,22%,Henrico,Glen Allen,VA
2958,124019,Eleanora,Wear,F,1969-08-05,1997-06-04,175725,320-11-3210,8%,Wise,Big Stone Gap,VA
7180,124170,Tracy,Dubois,M,1969-09-29,1995-05-02,136201,445-27-7452,1%,Tioga,Berkshire,NY
7438,124256,Brigette,Killen,F,1977-03-05,2009-08-26,144517,345-11-7267,5%,Richmond,Richmond,VA
9629,124416,Romona,Binette,F,1979-06-15,2017-06-23,79751,572-99-5978,20%,Rockingham,Portsmouth,NH
9977,124832,Aide,Arguelles,F,1986-01-17,2011-09-15,82912,389-33-0849,0%,Monroe,Rochester,NY
5594,125116,Neta,Ham,F,1980-07-06,2006-02-03,192133,370-37-9432,20%,Merrimack,Newbury,NH
9198,126194,Holly,Goings,F,1986-06-01,2010-08-07,78303,186-86-0158,28%,Suffolk,Greenport,NY

In [47]:
#The .isnull() and .notnull() Methods
#Call the .isnull() and .notnull() methods to create Boolean Series for extracting rows will null or non-null values
import pandas as pd
nba = pd.read_csv('players.csv').dropna(how= "all")

In [48]:
nba.head()

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [50]:
mask = nba["birth_state"].isnull()

In [52]:
nba[mask].head(10)

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN
13,Bob Brannum,196.0,97.0,Michigan State University,1925.0,NaN,NaN
20,Jack Burmaster,190.0,86.0,University of Illinois at Urbana-Champaign,1926.0,NaN,NaN
24,Bob Carpenter,196.0,90.0,East Texas State University,1917.0,NaN,NaN
25,Jake Carter,193.0,88.0,East Texas State University,1924.0,NaN,NaN
27,John Chaney,190.0,83.0,Louisiana State University,1920.0,NaN,NaN
30,Paul Cloyd,188.0,81.0,University of Wisconsin,1920.0,NaN,NaN

In [53]:
mask = nba["birth_state"].notnull()

In [55]:
nba[mask].head()

,Player,height,weight,collage,born,birth_city,birth_state
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho
7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania
8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey

In [59]:
# The .between() Method
between_check = nba["height"].between(160,180)
nba[between_check].head(10)

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN
26,Al Cervi*,180.0,77.0,NaN,1917.0,Buffalo,New York
32,Bobby Cook,178.0,70.0,University of Wisconsin,1923.0,NaN,NaN
55,Bill Gabor,180.0,77.0,Syracuse University,1922.0,NaN,NaN
60,Dee Gibson,180.0,79.0,Western Kentucky University,1923.0,NaN,NaN
78,Billy Hassett,180.0,81.0,University of Notre Dame,1921.0,NaN,NaN
83,Sonny Hertzberg,178.0,79.0,City College of New York,1922.0,Brooklyn,New York
86,Red Holzman*,178.0,79.0,City College of New York,1920.0,Brooklyn,New York

In [61]:
between_check = nba["weight"].between(100,120)
nba[between_check].head(10)

,Player,height,weight,collage,born,birth_city,birth_state
11,Harry Boykoff,208.0,102.0,St. John's University,1922.0,Brooklyn,New York
18,Jim Browne,208.0,106.0,NaN,1930.0,Midlothian,Illinois
62,Chuck Gilmur,193.0,102.0,University of Washington,1922.0,NaN,NaN
70,Robert Hahn,208.0,108.0,North Carolina State University,1925.0,NaN,NaN
71,Chick Halbert,206.0,102.0,West Texas A&M University,1919.0,Albany,Texas
82,Kleggie Hermsen,206.0,102.0,University of Minnesota,1923.0,Hill City,Minnesota
91,Arnie Johnson,196.0,107.0,Bemidji State University,1920.0,Gonvick,Minnesota
94,Noble Jorgensen,206.0,103.0,University of Iowa,1925.0,NaN,NaN
128,Ed Mikan,203.0,104.0,DePaul University,1925.0,NaN,NaN
129,George Mikan*,208.0,111.0,DePaul University,1924.0,Joliet,Illinois

In [67]:
#The .duplicated() Method
#Call the .duplicated() method to create a Boolean Series and use it to extract rows that have duplicate values.
import pandas as pd

employee = pd.read_csv("employee.csv",parse_dates= ["Date of Birth","Date of Joining"])
select = ["Emp ID","First Name","Last Name","Gender","Date of Birth","Date of Joining","Salary","SSN","Last % Hike",
          "County","City","State"]
emp = employee[select]
emp["Gender"] = emp["Gender"].astype("category")
emp["State"] = emp["State"].astype("category")
emp["Last % Hike"] = emp["Last % Hike"].astype("category")
emp.sort_values(by = ["First Name"], inplace= True)
emp.head(15)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
5292,767883,Aaron,Ku,M,1962-01-11,1987-06-17,159882,577-53-7733,14%,Wright,Monticello,MN
712,758997,Aaron,Towery,M,1970-05-13,2002-01-23,177462,257-99-0621,9%,Scotland,Gibson,NC
2412,751373,Aaron,Keever,M,1968-01-04,2006-12-24,56284,608-87-7140,9%,Clay,Kansas City,MO
4940,627388,Aaron,Meade,F,1959-03-19,1995-01-03,157405,486-29-1316,7%,Santa Clara,Palo Alto,CA
687,315351,Aaron,Leith,F,1983-02-04,2010-04-17,194374,339-11-6715,2%,DeKalb,Dekalb,IL
2641,237045,Aaron,Morse,M,1987-08-28,2012-12-26,125219,056-02-5315,23%,Jerauld,Wessington Springs,SD
8806,349189,Aaron,Gentile,M,1977-05-27,2012-06-19,172427,424-65-3976,27%,Hillsborough,Odessa,FL
2398,282328,Abbey,Kirkham,F,1983-09-29,2013-05-23,113126,719-18-4442,14%,Little River,Wilton,AR
6264,879428,Abbie,Choe,F,1984-12-08,2012-12-21,117733,070-02-1296,0%,Rock Island,Rock Island,IL
6442,331609,Abbie,Alvarez,F,1968-11-15,2015-07-09,194458,333-11-0836,30%,Shelby,Maplewood,OH
5833,953514,Abbie,Benson,F,1985-05-29,2009-09-26,121606,698-16-5619,10%,Lincoln,Coopers Mills,ME
9701,462773,Abby,Vanbuskirk,F,1993-05-01,2015-01-08,106358,432-99-1688,26%,Jefferson,Stump Creek,PA
6042,823111,Abdul,Pressley,M,1979-06-04,2002-05-01,44646,405-73-6604,23%,Wilcox,Pine Apple,AL
8376,581499,Abe,Dewar,M,1962-02-17,2010-11-21,77231,577-53-2400,6%,Lucas,Toledo,OH
9200,151356,Abe,Travers,M,1965-04-02,2009-04-27,192540,657-36-6677,26%,Iroquois,Papineau,IL

In [73]:
emp[~emp["First Name"].duplicated(keep = False)]

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
2398,282328,Abbey,Kirkham,F,1983-09-29,2013-05-23,113126,719-18-4442,14%,Little River,Wilton,AR
9701,462773,Abby,Vanbuskirk,F,1993-05-01,2015-01-08,106358,432-99-1688,26%,Jefferson,Stump Creek,PA
6042,823111,Abdul,Pressley,M,1979-06-04,2002-05-01,44646,405-73-6604,23%,Wilcox,Pine Apple,AL
4839,482667,Abel,Crumb,M,1978-04-22,2004-07-28,71912,288-15-4792,27%,Henry,Mcdonough,GA
2766,477741,Abigail,Acuff,F,1970-07-14,2016-10-20,195020,504-45-4884,1%,Washington,Shushan,NY
9009,649919,Adelina,Luis,F,1982-05-20,2011-02-08,41724,496-29-1427,28%,Kent,Grand Rapids,MI
3508,347652,Adell,Bahena,F,1961-06-07,1997-02-08,43380,443-27-2896,2%,Rusk,Overton,TX
80,704625,Adena,Engram,F,1965-03-26,2006-10-16,141816,316-35-5611,11%,Leslie,Hyden,KY
5104,121626,Adriana,Belew,F,1960-03-17,2003-12-04,147188,401-73-3372,23%,Berrien,New Buffalo,MI
1040,130864,Adrianna,Gillespie,F,1976-08-12,2001-10-14,115413,170-86-5878,26%,Cook,Schaumburg,IL
4875,886939,Afton,Tyus,F,1976-01-20,1999-11-19,170033,377-37-1889,25%,Allegheny,Pittsburgh,PA
9977,124832,Aide,Arguelles,F,1986-01-17,2011-09-15,82912,389-33-0849,0%,Monroe,Rochester,NY
6332,281467,Aiko,Zeringue,F,1959-06-10,1987-06-16,98108,286-15-7021,27%,Allen,Harlan,IN
3533,208915,Aimee,Roesch,F,1959-06-30,2005-01-03,92929,696-16-2722,4%,Schuylkill,Gilberton,PA
9115,467334,Aja,Ferretti,F,1987-01-03,2008-04-17,67159,325-11-3328,6%,Segundo,Segundo,CO
937,167712,Akiko,Vanegas,F,1978-07-14,2005-12-09,82349,561-99-4293,25%,Lincoln,Hiko,NV
2731,566723,Alaina,Mcdevitt,F,1962-05-23,1995-11-20,93956,268-17-6863,24%,Bronx,Bronx,NY
2302,605023,Alane,Corbin,F,1958-01-10,2000-02-27,149024,027-92-0436,15%,Jim Hogg,Guerra,TX
6067,147682,Albertha,Lamont,F,1967-07-09,2016-04-24,135482,500-29-2078,8%,La Paz,Quartzsite,AZ
2538,290658,Albertine,Fluker,F,1962-03-20,1996-12-04,81461,031-92-7469,11%,Boone,Gordon,WV
3691,535375,Albina,Henning,F,1971-08-28,2002-06-28,112688,771-02-6067,30%,West Chester,West Chester,PA
3793,244077,Aleisha,Obryant,F,1993-04-07,2016-07-24,137735,017-94-7002,17%,Montgomery,Montgomery,AL
6250,991267,Alena,Quattlebaum,F,1986-10-12,2008-08-13,58821,389-33-0858,3%,Iowa,Avoca,WI
2242,943027,Alesha,Ornelas,F,1975-08-18,2001-06-02,71310,572-99-8120,12%,Pinal,Red Rock,AZ
5170,116807,Aleta,Fidler,F,1979-01-26,2013-01-30,51809,554-99-2308,11%,Fulton,Bryant,IL
184,785926,Aletha,Chapman,F,1959-05-09,1981-01-27,194028,156-23-0163,9%,Wayne,Equinunk,PA
5632,362573,Alexandra,Nightingale,F,1962-07-23,1985-06-05,133840,476-55-7764,0%,Humboldt,Hoopa,CA
9431,596032,Alexandria,Jemison,F,1965-01-12,2016-06-18,118411,483-41-1298,12%,Jackson,Alpha,MN
9625,349891,Alida,Cauley,F,1973-11-16,1999-09-06,109985,420-67-1453,15%,Douglas,Reedsport,OR
6690,717107,Alisha,Moorhead,F,1989-06-09,2017-01-21,180332,598-92-8069,18%,Riverside,Wildomar,CA
...,...,...,...,...,...,...,...,...,...,...,...,...
8781,899216,Willa,Solorzano,F,1967-02-28,2009-02-04,168434,706-18-9078,26%,Smith,Troup,TX
5826,480977,Willodean,Lamar,F,1964-12-06,2017-04-06,43140,266-99-9518,8%,Caldwell,Hudson,NC
2488,568709,Windy,Jeffcoat,F,1980-11-02,2008-01-30,67428,675-48-7042,13%,Rockingham,East Candia,NH
5664,836112,Winifred,Bass,F,1967-01-19,2004-06-30,85639,272-17-5065,18%,Yankton,Yankton,SD
5890,714976,Xochitl,Person,F,1965-01-12,1995-07-26,123386,403-73-1818,18%,Westchester,Hastings On Hudson,NY
6600,829947,Xuan,Munoz,F,1971-08-08,1999-08-21,197733,584-99-3127,18%,Champaign,Woodstock,OH
3373,459605,Yael,Breton,F,1964-06-25,2009-10-19,121491,238-99-8075,9%,Hillsborough,Tampa,FL
4210,397409,Yahaira,Sanmiguel,F,1996-07-10,2017-07-19,130443,240-99-1330,9%,Wilkinson,Centreville,MS
661,188175,Yajaira,Menchaca,F,1958-10-21,1999-06-11,41149,042-15-1979,10%,Montgomery,Bellflower,MO
5048,504825,Yan,Thrasher,F,1962-03-22,2005-04-19,100930,006-11-9615,11%,Guadalupe,Kingsbury,TX
2554,754811,Yanira,Valdes,F,1962-06-10,2007-09-27,184541,397-33-2109,28%,Medina,La Coste,TX
9339,376396,Yasmin,Ventura,F,1960-08-13,2014-01-29,120478,218-89-9952,11%,Indiana,Clune,PA
6415,710600,Yasmine,Oxford,F,1974-07-30,2001-02-14,73955,350-08-5491,3%,Madison,Twin Bridges,MT
5941,961465,Yasuko,Newhouse,F,1969-09-21,1992-09-14,56904,077-02-8211,28%,Essex,Granby,VT
8634,366299,Yee,Boardman,F,1971-05-15,2016-06-05,76483,672-48-4578,24%,Kings,Brooklyn,NY
5856,443192,Yen,Carey,F,1989-06-23,2016-12-25,54288,151-23-6733,17%,McDowell,Switchback,WV
9556,361089,Ying,Pinkney,F,1974-01-29,2001-04-14,191112,720-18-6899,3%,Jefferson,Wrens,GA
4325,761914,Yoko,Romine,F,1967-12-22,2003-08-06,67703,258-99-6301,11%,Apache,Concho,AZ
793,139218,Yoshie,Schubert,F,1982-09-10,2016-12-14,105814,636-31-4246,20%,Turkey Creek,Turkey Creek,KY
2833,480260,Youlanda,Wendell,F,1991-02-25,2017-07-10,90873,539-71-9873,12%,Vilas,Land O Lakes,WI
2044,162832,Yu,Chao,F,1961-02-12,1990-01-22,187379,685-24-1019,14%,Los Angeles,Whittier,CA
9845,771256,Yuko,Hobby,F,1995-08-21,2016-09-03,70791,066-02-8045,23%,Miami,Osawatomie,KS
702,129894,Yvone,Evans,F,1994-02-08,2015-02-15,160376,660-24-8686,16%,Carter,Lone Grove,OK
1081,859455,Zandra,Schrader,F,1981-12-15,2009-02-13,148269,165-86-3972,10%,Frye,Frye,ME
2423,229904,Zetta,Mick,F,1985-10-23,2015-08-30,181571,152-23-0527,0%,Shelby,Memphis,TN
872,441419,Zoe,Flagg,F,1961-02-03,2003-09-29,143110,311-35-2647,4%,Montgomery,Fort Johnson,NY
3118,309032,Zofia,Esposito,F,1970-06-30,2013-12-04,119339,252-99-7915,4%,Wilkes,North Wilkesboro,NC
5758,796612,Zoila,Plumlee,F,1978-10-23,2013-01-18,102260,158-23-2534,12%,Marshall,Glen Easton,WV
5040,567776,Zora,Reddick,F,1960-07-05,2014-03-12,174370,766-04-9120,6%,Stearns,New Munich,MN
8818,295657,Zulema,Lynn,F,1976-03-14,2001-09-18,137127,054-02-3183,19%,Miami,Grissom Afb,IN

In [74]:
# The .drop_duplicates() Method
emp.head()

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
5292,767883,Aaron,Ku,M,1962-01-11,1987-06-17,159882,577-53-7733,14%,Wright,Monticello,MN
712,758997,Aaron,Towery,M,1970-05-13,2002-01-23,177462,257-99-0621,9%,Scotland,Gibson,NC
2412,751373,Aaron,Keever,M,1968-01-04,2006-12-24,56284,608-87-7140,9%,Clay,Kansas City,MO
4940,627388,Aaron,Meade,F,1959-03-19,1995-01-03,157405,486-29-1316,7%,Santa Clara,Palo Alto,CA
687,315351,Aaron,Leith,F,1983-02-04,2010-04-17,194374,339-11-6715,2%,DeKalb,Dekalb,IL

In [76]:
len(emp.drop_duplicates())

10000

In [77]:
len(emp)

10000

In [78]:
emp.drop_duplicates(subset="First Name",keep="first")

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
5292,767883,Aaron,Ku,M,1962-01-11,1987-06-17,159882,577-53-7733,14%,Wright,Monticello,MN
2398,282328,Abbey,Kirkham,F,1983-09-29,2013-05-23,113126,719-18-4442,14%,Little River,Wilton,AR
6264,879428,Abbie,Choe,F,1984-12-08,2012-12-21,117733,070-02-1296,0%,Rock Island,Rock Island,IL
9701,462773,Abby,Vanbuskirk,F,1993-05-01,2015-01-08,106358,432-99-1688,26%,Jefferson,Stump Creek,PA
6042,823111,Abdul,Pressley,M,1979-06-04,2002-05-01,44646,405-73-6604,23%,Wilcox,Pine Apple,AL
8376,581499,Abe,Dewar,M,1962-02-17,2010-11-21,77231,577-53-2400,6%,Lucas,Toledo,OH
4839,482667,Abel,Crumb,M,1978-04-22,2004-07-28,71912,288-15-4792,27%,Henry,Mcdonough,GA
2766,477741,Abigail,Acuff,F,1970-07-14,2016-10-20,195020,504-45-4884,1%,Washington,Shushan,NY
1927,731882,Abraham,Ferro,M,1967-02-24,2005-12-08,145833,115-98-2976,16%,Codington,Kranzburg,SD
4831,843908,Abram,Kauffman,M,1961-08-12,2007-07-20,41232,421-67-3402,15%,Linn,Cedar Rapids,IA
5569,215522,Adam,Sage,M,1964-01-29,2000-05-18,54939,236-55-2087,1%,King,Bothell,WA
5432,538645,Adan,Nicol,M,1974-11-01,2014-03-05,65767,638-29-7142,20%,Breckinridge,Stephensport,KY
2956,118358,Addie,Schutz,F,1973-08-15,2005-09-08,168905,579-53-2681,5%,St. Louis,Florissant,MO
1500,257326,Adelaide,Cassell,F,1980-09-20,2016-06-20,157825,483-41-2007,2%,Gila,Miami,AZ
4018,902662,Adele,Dahl,F,1995-09-21,2017-04-23,67013,057-02-2939,12%,Cabell,Huntington,WV
9286,430974,Adelia,Cameron,F,1972-09-07,2002-08-12,168086,227-99-5519,15%,District of Columbia,Washington,DC
9009,649919,Adelina,Luis,F,1982-05-20,2011-02-08,41724,496-29-1427,28%,Kent,Grand Rapids,MI
9129,308771,Adeline,Poston,F,1979-03-07,2005-06-28,187740,728-14-3170,15%,Daniels,Flaxville,MT
3508,347652,Adell,Bahena,F,1961-06-07,1997-02-08,43380,443-27-2896,2%,Rusk,Overton,TX
8862,778113,Adella,Dreyer,F,1985-06-02,2013-08-19,82992,639-29-5981,12%,St. Francis,Goodwin,AR
8336,689898,Adelle,Lennon,F,1967-03-06,1994-02-05,192290,517-49-1259,6%,Red River,Bagwell,TX
80,704625,Adena,Engram,F,1965-03-26,2006-10-16,141816,316-35-5611,11%,Leslie,Hyden,KY
7303,846913,Adolfo,Gurrola,M,1995-09-21,2017-03-12,199039,341-11-3074,24%,Winnebago,Machesney Park,IL
7370,460429,Adolph,Atwater,M,1979-03-22,2009-04-22,120458,396-33-6883,11%,Hamilton,Chattanooga,TN
1152,290558,Adria,Hawthorne,F,1991-07-11,2013-04-15,162127,567-99-5418,28%,Richland,Columbia,SC
6213,247575,Adrian,Spraggins,M,1983-06-13,2008-05-21,108560,587-99-1396,16%,Weld,Greeley,CO
5104,121626,Adriana,Belew,F,1960-03-17,2003-12-04,147188,401-73-3372,23%,Berrien,New Buffalo,MI
1040,130864,Adrianna,Gillespie,F,1976-08-12,2001-10-14,115413,170-86-5878,26%,Cook,Schaumburg,IL
7122,465787,Adrianne,Rothstein,F,1967-12-05,1999-07-17,197438,507-57-2788,6%,Gallatin,Junction,IL
214,392950,Adrien,Donato,F,1992-03-16,2014-12-19,124523,306-37-9086,14%,Hillsborough,Manchester,NH
...,...,...,...,...,...,...,...,...,...,...,...,...
2044,162832,Yu,Chao,F,1961-02-12,1990-01-22,187379,685-24-1019,14%,Los Angeles,Whittier,CA
5567,248305,Yuette,Broadnax,F,1971-01-21,1998-10-12,183711,763-12-1546,27%,Cook,Cecil,GA
9845,771256,Yuko,Hobby,F,1995-08-21,2016-09-03,70791,066-02-8045,23%,Miami,Osawatomie,KS
5555,810524,Yulanda,Ransom,F,1962-04-06,1993-07-01,49793,731-28-9911,20%,Wayne,Detroit,MI
5194,542454,Yuonne,Vandiver,F,1988-10-14,2016-10-08,78972,197-84-4295,7%,Allegheny,Pittsburgh,PA
702,129894,Yvone,Evans,F,1994-02-08,2015-02-15,160376,660-24-8686,16%,Carter,Lone Grove,OK
1024,556556,Zachariah,Scherer,M,1987-01-11,2009-01-21,183757,105-02-4592,12%,Emmet,Conway,MI
1797,149672,Zachary,Mannino,M,1989-12-17,2015-12-27,77812,490-29-1642,12%,Multnomah,Fairview,OR
5113,215558,Zachery,Schoen,M,1994-12-12,2016-03-14,131742,516-49-9054,15%,Nacogdoches,Woden,TX
1412,489163,Zack,Berg,M,1990-08-15,2013-08-13,86509,671-48-6828,2%,Washington,Richview,IL
256,183794,Zackary,Mcdougald,M,1965-07-12,1999-07-27,119160,216-89-5417,10%,Carbon,Lake Harmony,PA
1081,859455,Zandra,Schrader,F,1981-12-15,2009-02-13,148269,165-86-3972,10%,Frye,Frye,ME
402,610993,Zane,Roseboro,M,1981-03-04,2013-03-27,180450,194-86-8535,21%,Los Angeles,Wilmington,CA
4173,121519,Zelda,Saddler,F,1977-12-27,2004-11-07,63448,398-31-0472,24%,Miami-Dade,Miami Beach,FL
9628,831569,Zella,Ramos,F,1986-08-17,2007-11-30,98064,655-36-1411,27%,Brevard,Sebastian,FL
1691,230883,Zelma,Sohn,F,1962-10-21,2000-04-16,92098,499-29-8149,24%,Anne Arundel,Annapolis,MD
7586,875032,Zena,Adrian,F,1970-03-03,2014-10-25,102508,104-02-6192,9%,Hamilton,Cincinnati,OH
7861,519374,Zenaida,Goldstein,F,1981-01-03,2008-11-06,56077,765-27-1098,30%,Jones,Center Junction,IA
9165,907890,Zenia,Mcvay,F,1961-09-09,1988-12-12,193745,263-99-2478,15%,Daviess,Gallatin,MO
3717,965827,Zenobia,Castle,F,1993-04-02,2016-09-17,63470,049-15-1931,3%,Sarpy,Bellevue,NE
2423,229904,Zetta,Mick,F,1985-10-23,2015-08-30,181571,152-23-0527,0%,Shelby,Memphis,TN
1058,465507,Zina,Leibowitz,F,1971-11-19,1995-02-17,140044,429-99-2323,10%,Greenlee,Clifton,AZ
872,441419,Zoe,Flagg,F,1961-02-03,2003-09-29,143110,311-35-2647,4%,Montgomery,Fort Johnson,NY
3118,309032,Zofia,Esposito,F,1970-06-30,2013-12-04,119339,252-99-7915,4%,Wilkes,North Wilkesboro,NC
5758,796612,Zoila,Plumlee,F,1978-10-23,2013-01-18,102260,158-23-2534,12%,Marshall,Glen Easton,WV
6695,866378,Zona,Cozart,F,1975-04-02,2004-04-02,194105,390-33-7627,4%,Litchfield,Pequabuck,CT
5040,567776,Zora,Reddick,F,1960-07-05,2014-03-12,174370,766-04-9120,6%,Stearns,New Munich,MN
7307,731713,Zoraida,Briones,F,1971-05-13,1993-07-08,75842,448-27-1876,9%,Bergen,Wallington,NJ
8818,295657,Zulema,Lynn,F,1976-03-14,2001-09-18,137127,054-02-3183,19%,Miami,Grissom Afb,IN
5110,885343,Zulma,Dalton,F,1991-01-22,2015-06-26,134716,042-15-9616,17%,Adams,Indian Valley,ID

In [79]:
emp.drop_duplicates(subset="First Name",keep= False)

,Emp ID,First Name,Last Name,Gender,Date of Birth,Date of Joining,Salary,SSN,Last % Hike,County,City,State
2398,282328,Abbey,Kirkham,F,1983-09-29,2013-05-23,113126,719-18-4442,14%,Little River,Wilton,AR
9701,462773,Abby,Vanbuskirk,F,1993-05-01,2015-01-08,106358,432-99-1688,26%,Jefferson,Stump Creek,PA
6042,823111,Abdul,Pressley,M,1979-06-04,2002-05-01,44646,405-73-6604,23%,Wilcox,Pine Apple,AL
4839,482667,Abel,Crumb,M,1978-04-22,2004-07-28,71912,288-15-4792,27%,Henry,Mcdonough,GA
2766,477741,Abigail,Acuff,F,1970-07-14,2016-10-20,195020,504-45-4884,1%,Washington,Shushan,NY
9009,649919,Adelina,Luis,F,1982-05-20,2011-02-08,41724,496-29-1427,28%,Kent,Grand Rapids,MI
3508,347652,Adell,Bahena,F,1961-06-07,1997-02-08,43380,443-27-2896,2%,Rusk,Overton,TX
80,704625,Adena,Engram,F,1965-03-26,2006-10-16,141816,316-35-5611,11%,Leslie,Hyden,KY
5104,121626,Adriana,Belew,F,1960-03-17,2003-12-04,147188,401-73-3372,23%,Berrien,New Buffalo,MI
1040,130864,Adrianna,Gillespie,F,1976-08-12,2001-10-14,115413,170-86-5878,26%,Cook,Schaumburg,IL
4875,886939,Afton,Tyus,F,1976-01-20,1999-11-19,170033,377-37-1889,25%,Allegheny,Pittsburgh,PA
9977,124832,Aide,Arguelles,F,1986-01-17,2011-09-15,82912,389-33-0849,0%,Monroe,Rochester,NY
6332,281467,Aiko,Zeringue,F,1959-06-10,1987-06-16,98108,286-15-7021,27%,Allen,Harlan,IN
3533,208915,Aimee,Roesch,F,1959-06-30,2005-01-03,92929,696-16-2722,4%,Schuylkill,Gilberton,PA
9115,467334,Aja,Ferretti,F,1987-01-03,2008-04-17,67159,325-11-3328,6%,Segundo,Segundo,CO
937,167712,Akiko,Vanegas,F,1978-07-14,2005-12-09,82349,561-99-4293,25%,Lincoln,Hiko,NV
2731,566723,Alaina,Mcdevitt,F,1962-05-23,1995-11-20,93956,268-17-6863,24%,Bronx,Bronx,NY
2302,605023,Alane,Corbin,F,1958-01-10,2000-02-27,149024,027-92-0436,15%,Jim Hogg,Guerra,TX
6067,147682,Albertha,Lamont,F,1967-07-09,2016-04-24,135482,500-29-2078,8%,La Paz,Quartzsite,AZ
2538,290658,Albertine,Fluker,F,1962-03-20,1996-12-04,81461,031-92-7469,11%,Boone,Gordon,WV
3691,535375,Albina,Henning,F,1971-08-28,2002-06-28,112688,771-02-6067,30%,West Chester,West Chester,PA
3793,244077,Aleisha,Obryant,F,1993-04-07,2016-07-24,137735,017-94-7002,17%,Montgomery,Montgomery,AL
6250,991267,Alena,Quattlebaum,F,1986-10-12,2008-08-13,58821,389-33-0858,3%,Iowa,Avoca,WI
2242,943027,Alesha,Ornelas,F,1975-08-18,2001-06-02,71310,572-99-8120,12%,Pinal,Red Rock,AZ
5170,116807,Aleta,Fidler,F,1979-01-26,2013-01-30,51809,554-99-2308,11%,Fulton,Bryant,IL
184,785926,Aletha,Chapman,F,1959-05-09,1981-01-27,194028,156-23-0163,9%,Wayne,Equinunk,PA
5632,362573,Alexandra,Nightingale,F,1962-07-23,1985-06-05,133840,476-55-7764,0%,Humboldt,Hoopa,CA
9431,596032,Alexandria,Jemison,F,1965-01-12,2016-06-18,118411,483-41-1298,12%,Jackson,Alpha,MN
9625,349891,Alida,Cauley,F,1973-11-16,1999-09-06,109985,420-67-1453,15%,Douglas,Reedsport,OR
6690,717107,Alisha,Moorhead,F,1989-06-09,2017-01-21,180332,598-92-8069,18%,Riverside,Wildomar,CA
...,...,...,...,...,...,...,...,...,...,...,...,...
8781,899216,Willa,Solorzano,F,1967-02-28,2009-02-04,168434,706-18-9078,26%,Smith,Troup,TX
5826,480977,Willodean,Lamar,F,1964-12-06,2017-04-06,43140,266-99-9518,8%,Caldwell,Hudson,NC
2488,568709,Windy,Jeffcoat,F,1980-11-02,2008-01-30,67428,675-48-7042,13%,Rockingham,East Candia,NH
5664,836112,Winifred,Bass,F,1967-01-19,2004-06-30,85639,272-17-5065,18%,Yankton,Yankton,SD
5890,714976,Xochitl,Person,F,1965-01-12,1995-07-26,123386,403-73-1818,18%,Westchester,Hastings On Hudson,NY
6600,829947,Xuan,Munoz,F,1971-08-08,1999-08-21,197733,584-99-3127,18%,Champaign,Woodstock,OH
3373,459605,Yael,Breton,F,1964-06-25,2009-10-19,121491,238-99-8075,9%,Hillsborough,Tampa,FL
4210,397409,Yahaira,Sanmiguel,F,1996-07-10,2017-07-19,130443,240-99-1330,9%,Wilkinson,Centreville,MS
661,188175,Yajaira,Menchaca,F,1958-10-21,1999-06-11,41149,042-15-1979,10%,Montgomery,Bellflower,MO
5048,504825,Yan,Thrasher,F,1962-03-22,2005-04-19,100930,006-11-9615,11%,Guadalupe,Kingsbury,TX
2554,754811,Yanira,Valdes,F,1962-06-10,2007-09-27,184541,397-33-2109,28%,Medina,La Coste,TX
9339,376396,Yasmin,Ventura,F,1960-08-13,2014-01-29,120478,218-89-9952,11%,Indiana,Clune,PA
6415,710600,Yasmine,Oxford,F,1974-07-30,2001-02-14,73955,350-08-5491,3%,Madison,Twin Bridges,MT
5941,961465,Yasuko,Newhouse,F,1969-09-21,1992-09-14,56904,077-02-8211,28%,Essex,Granby,VT
8634,366299,Yee,Boardman,F,1971-05-15,2016-06-05,76483,672-48-4578,24%,Kings,Brooklyn,NY
5856,443192,Yen,Carey,F,1989-06-23,2016-12-25,54288,151-23-6733,17%,McDowell,Switchback,WV
9556,361089,Ying,Pinkney,F,1974-01-29,2001-04-14,191112,720-18-6899,3%,Jefferson,Wrens,GA
4325,761914,Yoko,Romine,F,1967-12-22,2003-08-06,67703,258-99-6301,11%,Apache,Concho,AZ
793,139218,Yoshie,Schubert,F,1982-09-10,2016-12-14,105814,636-31-4246,20%,Turkey Creek,Turkey Creek,KY
2833,480260,Youlanda,Wendell,F,1991-02-25,2017-07-10,90873,539-71-9873,12%,Vilas,Land O Lakes,WI
2044,162832,Yu,Chao,F,1961-02-12,1990-01-22,187379,685-24-1019,14%,Los Angeles,Whittier,CA
9845,771256,Yuko,Hobby,F,1995-08-21,2016-09-03,70791,066-02-8045,23%,Miami,Osawatomie,KS
702,129894,Yvone,Evans,F,1994-02-08,2015-02-15,160376,660-24-8686,16%,Carter,Lone Grove,OK
1081,859455,Zandra,Schrader,F,1981-12-15,2009-02-13,148269,165-86-3972,10%,Frye,Frye,ME
2423,229904,Zetta,Mick,F,1985-10-23,2015-08-30,181571,152-23-0527,0%,Shelby,Memphis,TN
872,441419,Zoe,Flagg,F,1961-02-03,2003-09-29,143110,311-35-2647,4%,Montgomery,Fort Johnson,NY
3118,309032,Zofia,Esposito,F,1970-06-30,2013-12-04,119339,252-99-7915,4%,Wilkes,North Wilkesboro,NC
5758,796612,Zoila,Plumlee,F,1978-10-23,2013-01-18,102260,158-23-2534,12%,Marshall,Glen Easton,WV
5040,567776,Zora,Reddick,F,1960-07-05,2014-03-12,174370,766-04-9120,6%,Stearns,New Munich,MN
8818,295657,Zulema,Lynn,F,1976-03-14,2001-09-18,137127,054-02-3183,19%,Miami,Grissom Afb,IN

In [84]:
#The .unique() and .nunique() Methods
emp["Gender"].unique()

[M, F]
Categories (2, object): [M, F]

In [85]:
emp["Last % Hike"].unique()

[14%, 9%, 7%, 2%, 23%, ..., 17%, 4%, 3%, 18%, 21%]
Length: 31
Categories (31, object): [14%, 9%, 7%, 2%, ..., 4%, 3%, 18%, 21%]

In [86]:
len(emp["Last % Hike"].unique())

31

In [89]:
emp["Last % Hike"].nunique()

31

In [90]:
emp["Last % Hike"].nunique(dropna = True)

31